<div class="w">

    <!--font begin-->
    <div class="m_copy">
        <p>
            <a href="#">关于我们</a>|
            <a href="#">人寿保险</a>|
            <a href="#">财产保险</a>|
            <a href="#">保险中介</a>|
            <a href="#">保险代理人</a>|
            <a href="#">保险问答</a>|
            <a href="#">会员服务</a>|
            <a href="#">保险机构</a>|
            <a href="#">保险资料</a>
        </p>
        <div>
            <p>© CopyRight 2008-2015  常安保险 厦门保啦网络科技有限公司</p>
            <p>闽ICP备15000619号-2  电话：0592-2211350  邮件：kefu@changan.com</p>
        </div>
        <div>
            <img src="/Public/Site/images/chengxin.png">
            <img src="/Public/Site/images/dianziyingye.png">
            <img src="/Public/Site/images/wangluo.png">
        </div>
        <!--font end-->
    </div>  
</body>
</html>