<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>常安保险</title>
        <link type="text/css" rel="stylesheet" href="/Public/Site/css/style.css" />
        <script type="text/javascript" src="/Public/Home/js/jquery.js"></script>
    </head>
    <body>
        <!--head begin-->
        <div class="w">
            <div class="m_head">
                <p><a href="/"><img class="u_logo" src="/Public/Site/images/logo.jpg"></a>厦门保险<a href="{$base_url}city">[切换]</a></p>
                <label class="u_sch"><input type="text" value="请输入产品名称" /><i class="ic_02"> 搜索</i></label>
                <div class="m_top"> <a href="{$base_url}login/">登录</a> <a href="{$base_url}signup/">免费注册</a> </div>
            </div>
        </div>
        <!--head end-->
        <!--nav begin-->
        <div class="w s_bgc">
            <div class="m_nav">
                <ul>
                    <li class="n1 z_in"><a href="{$base_url}">首页</a></li>
                    <li><a href="{$base_url}chanpin">保险产品</a></li>
                    <li><a href="{$base_url}dailiren">保险代理人</a></li>
                    <li><a href="{$base_url}wenba">保险问答</a></li>
                    <li><a href="{$base_url}plan">投保方案</a></li>
                    <li class="nn"><a href="{$base_url}news">保险资讯</a></li>
                </ul>
                <a href="{$base_url}vip">我是代理人</a>
            </div>
        </div>
        <!--nav end-->