<div class="onlineplay ymxx">
            	<div id="navhljs1" class="navhl">
                    <a class="<empty name="op">navhl_h<else />navhl_q</empty>" onclick="jdhddh(this,0)" href="javascript:void(0);">修改登录密码</a> 
                    <a class="<eq name="op" value="seccode">navhl_h<else />navhl_q</eq>" onclick="jdhddh(this,1)" href="javascript:void(0);checkMobile();">设置安全码</a> 
                </div>
                <div style="display:<empty name="op">block<else />none</empty>;" class="add_temp" id="navhljs1_c0">
            		<div class="add_temp_b">
                	<form name="form_password" action="/account/password?op=login" method="post">
                    <ul>
                    <li>
                        <p>旧密码：</p>
                        <input class="list_ctxt_a" size="30" name="password_old" type="password" value="" placeholder="密码至少6位" datatype="password" errormsg="密码至少6位" nullmsg="请输入旧密码" sucmsg=" " />
                    </li>
                    <li>
                        <p>新密码：</p>
                        <input class="list_ctxt_a" size="30" name="password_new" type="password" value="" placeholder="密码至少6位" datatype="password" errormsg="密码至少6位" nullmsg="请输入新密码" sucmsg=" " />
                    </li>
                    <li>
                        <p>确认新密码：</p>
                        <input type="password" class="list_ctxt_a" size="30" name="password_new_confirm" value="" placeholder="密码至少6位" datatype="*" recheck="password_new" errormsg="两次输入的密码不一致" nullmsg="请再输入一次新密码" sucmsg=" " />
                    </li>
                    <li>
                        <input type="submit" name="btn_password" value="确定提交" class="list_submit">
                    </li>
            		</ul>
                	</form>
                    </div>
            	</div>
                <div style="display:<eq name="op" value="seccode">block<else />none;</eq>" class="add_temp" id="navhljs1_c1">
                <div class="add_temp_b">
                <form name="form_seccode" action="/account/password?op=seccode" method="post">
            	    <ul id="edit_seccode" style="width:100%">
                    <li>
                        <p>新安全码：</p>
                        <input class="list_ctxt_a" size="30" name="seccode_new" type="password" value="" placeholder="安全码至少6位" datatype="password" errormsg="安全码至少6位" nullmsg="请输入安全码" sucmsg=" " />
                    </li>
                    <li>
                        <p>确认新安全码：</p>
                        <input type="password" class="list_ctxt_a" size="30" name="seccode_new_confirm" value="" placeholder="安全码至少6位" datatype="*" recheck="seccode_new" errormsg="两次输入的安全码不一致" nullmsg="请再输入一次新安全码" sucmsg=" " />
                    </li>
                     <li style="width:100%">
                        <p>手机号码：</p><span class="fl">{$mobile|substr_replace='****',3,4}</span>
                        <input type="button" id="getcode" onclick="getCode()" value="发送验证短信" class="yanzheng-button fl">
                        <input type="hidden" id="mobile" value="{$mobile}">
                     </li>
                     <li style="width:100%">
                        <p>验证码：</p>
                        <input type="text" name="phone_code" class="list_ctxt_a fl" style="width:60px;"> 
                     </li>
                     <li style="width:100%">
                        <p>剩余时间：</p>
                        <span style="color:red;">10分钟</span> <span>若长时间未收到，请点击重发按钮重新发送</span>
                     </li>
                    <li>
                        <input type="submit" name="btn_seccode" value="确定提交" class="list_submit">
                    </li>
            		</ul>
                </form>
            	</div>
            	</div>
            </div>
<style>
    .add_temp_b ul li p {
        width: 120px;
    }
    .Validform_checktip.Validform_wrong{color:red; margin-left:140px;padding:0px;}
	.yanzheng-button {
height: 30px;
float: left;
border: none;
display: block;
color: #fff;
padding: 0 5px;
background: #FF8D08;
}
</style>

<script type="text/javascript" src="/Public/Common/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="/Public/Common/js/Validform_Datatype.js"></script>
<script type="text/javascript">
function checkMobile(){
	var phone='{$mobile}';
	if(phone==''){
		window.location="/account/mobile?refer=/account/password/op/seccode";
	}
}
<eq name="op" value="seccode">checkMobile();</eq>
function getCode(){
        var t = '#getcode';
        var mobile = $('#mobile').val();
        $(t).val('发送中');
        $.get("/oper/send_sms", { mobile:mobile} ,function(data){
            if(data!='ok'){
                $(t).val('发送验证码');
                layer.msg(data,1,3);
                return false;
            }
            $(t).attr('disabled','true');
            var count1 =60;
            timer1 = setInterval(function(){
                count1=count1-1;
                $(t).val(count1+'秒后');
                if(count1==0){
                    $(t).attr('disabled',false);
                    $(t).val('重新发送');
                    count1=60;
                    clearInterval(timer1);
                }
            },1000);
        });
    }
	
	
    $(document).ready(function () {
        $('form[name="form_password"]').Validform({
            tiptype: 3,
            datatype:{
                'password':/^[\w\W]{6,}$/
            },
            beforeSubmit: function (curform) {
                curform.find(':submit[name="btn_password"]').prop('disabled', true);
                $.post(curform.attr('action'), curform.serialize(), function (result) {
                    layer.msg(result.message);
                    curform.find(':password').val('');
                    curform.find(':submit[name="btn_password"]').prop('disabled', false);
                });
                return false;
            }
        });
        $('form[name="form_seccode"]').Validform({
            tiptype: 3,
            datatype:{
                'password':/^[\w\W]{6,}$/
            },
            beforeSubmit: function (curform) {
                curform.find(':submit[name="btn_seccode"]').prop('disabled', true);
                $.post(curform.attr('action'), curform.serialize(), function (result) {
                    if (result.status == 200) {
                        layer.msg(result.message, function(){window.location.reload(true);});
                    }else{
                        layer.msg(result.message);
                    }
                    curform.find(':submit[name="btn_seccode"]').prop('disabled', false);
                });
                return false;
            }
        });
    });
</script>
