{__NOLAYOUT__}<html>
<head>
<title>邮件推广内容</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
</head>
<style>
body{ width:780px; margin:30px auto;}
.T1{ width:770px; margin:10px 0 20px 0px; line-height:2; font-weight:bold;}
.fl{ float:left}
.fr{ float:right;}
.top{ color:#999; font-size:12px;float:right;}
a{ color:red}
a:hover{ color:blue; text-decoration:underline}
.Timg img{ float:left;}
.clearfix {*zoom: 1; }
.clearfix:before, .clearfix:after {content: " ";display: table; }
.clearfix:after {clear: both; }

</style>
<body>
<div class="top">
	如果图片无法显示，请<a href="javascript:;">点击此处</a>
</div>
<div class="T1">
尊敬的用户，您好：</br>
我们诚挚地邀请您加入常安保险（changan.com），我们免费，没错，我们就是免费！</br>
常安保险（changan.com）——专业的第三方保险平台，在这里可制作并发布您的保险方案，让更多的客户主动联系您，可寻找到更多的准客户，拓宽您的展业渠道。</div>
<div>
	<img src="{:getDoMain('www')}Public/Admin/email/images/youjian_03.jpg">
  <img src="{:getDoMain('www')}Public/Admin/email/images/youjian_05.jpg">
    
</div>
<div class="clearfix Timg">
    <img src="{:getDoMain('www')}Public/Admin/email/images/youjian_06.jpg">
    <a href="{:getDoMain('www')}signup/?t=1" target="_blank"><img src="{:getDoMain('www')}Public/Admin/email/images/youjian_07.jpg"></a>
    <div></div>
</div>

<div style="font-size:12px; text-align:center; color:#999; margin-top:20px;">如果您已经错误的收到此邮件，或者不需要该服务，请忽略该邮件！祝您的事业蒸蒸日上！</div>
</body>
</html>