{__NOLAYOUT__}
<div class="navhl_b">
    <div class="navhl_b_title">米铺域名</div> 
    <a href="{:getDoMain()}shop/" class="navhl_b_link">more</a> 
</div>
<div class="list_b">
    <ul>
        <volist name="data" id="vo">
            <li>
                <div class="listb_a"><a href="{:getDoMain()}shop/{$vo.id}" title="{$vo.title}" class="listent_b">{$vo.domain}</a></div>
                <div class="listb_b"><a href="{:getDoMain()}shop/{$vo.id}" title="{$vo.title}" class="listent_c">{$vo.title|msubstr=0,10}</a></div>
                <div class="listb_c"><a href="{:getDoMain()}shop/{$vo.id}" title="{$vo.title}" class="listent_d">进入>></a></div>
            </li>
        </volist>
    </ul>
</div>