<div class="NewFooter Footer" id="footer">
    <center>博主昵称:<a href="<?php echo $baseurl.'/'.$bloginfo['DomainName'];?>" target="_blank" style="color:black;"><?php echo $bloginfo['NickName'];?></a></center>
    <center>本站所有文章、数据仅供参考，使用前务请仔细阅读<a href="http://www.cnfol.com/info/law.shtml" target="_blank" style="color:#6C4B3A;">法律声明</a>，风险自负</center>
    <center>Copyright &copy; 2004 -
        <script type="text/javascript">
            date=new Date();
            year = date.getFullYear();
            document.writeln(year);
        </script>

        福建中金在线网络股份有限公司.All Right Reserved

    </center>
</div>

<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
    _atrk_opts = { atrk_acct:"miaPi1a8Dy00w2", domain:"cnfol.com",dynamic: true};
    (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=miaPi1a8Dy00w2" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

<!--百度统计-->
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc378c4854ec370c1c8438f72e19b7170' type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- End of LogMicroscope Code --> 
<DIV style="DISPLAY: none"><!-- START AIYA Site Stat. -->
    <SCRIPT language=JavaScript type="text/javascript" src="http://s.cnfolimg.com/v5.0/js/stat01-min.js"></SCRIPT>
    <NOSCRIPT><img src="http://logs.cnfol.com/a?ci=cnfol" alt=""></NOSCRIPT><!-- END AIYA Site Stat. -->
</DIV> 


</body>
</html>