<ul data-node="listBox" id="listBox">
<li data-node="item" class="item clearfix">
    <div ga_event="feed_item" style="width: 100%;" class="info">
        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3909507130/">
                低价高配手机 小米Note居然不在内
            </a>
        </p>
    </div>

    <div class="thumbnail-list">
        <a target="_blank" href="/group/3909507130/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2090/6950453698"></a>
        <a target="_blank" href="/group/3909507130/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2095/5337381281"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3909507130/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2089/7050698302"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3909507130" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">6</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3909507130" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">10</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3909507130" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">16</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3909507130/" class="btn">
                <span>三九网</span>
            </a>

            <a target="_blank" href="/group/3909507130/" class="btn datetime">
                <span data-publishtime="1422953247">16:47</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【低价高配手机 小米Note居然不在内】（分享来自 @今日头条）三九资讯频道：大神X7正面配备了5.2英寸1080p级别AMOLED屏幕。配置上，大神X7双4G版搭载一颗2.0GHz主频的联发科MT6595八核处理器，内存配置2GB RAM+16GB ROM，续航上，大神X7内置了2700mAh锂电池，续航能力不弱。拍照上，800万像素0V ..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/group/article/3909507130/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3909507130" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_event="feed_item" style="width: 100%;" class="info">

        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3908465622/">
                “第一狗仔”卓伟爆猛料 李晨昨日正式求婚范冰冰！
            </a>
        </p>
    </div>

    <div class="thumbnail-list">

        <a target="_blank" href="/group/3908465622/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2093/2987848940"></a>
        <a target="_blank" href="/group/3908465622/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2093/2987896885"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3908465622/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2093/2987993459"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3908465622" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">779</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3908465622" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">154</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3908465622" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">259</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3908465622/" class="btn">
                <span>青春娱乐网</span>
            </a>

            <a target="_blank" href="/group/3908465622/" class="btn datetime">
                <span data-publishtime="1422953216">16:46</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【“第一狗仔”卓伟爆猛料 李晨昨日正式求婚范冰冰！】（分享来自 @今日头条）范冰冰、李晨李晨正式求婚范冰冰?不是前段时间的热炒的旧闻吗?难道说这次是真的?一大早，微博上祝福范爷和晨妈的留言就刷爆屏，这壮观的场面，小编也是吓到了!范爷之前受访不还对“求婚”一事称“完全没有”吗?突然改口了也是醉了，不过细想想，范爷哪段恋情不是被扒到“体无完肤”，才勉强点头?..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/i/group/article/3908465622/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3908465622" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_event="feed_item" style="width: 100%;" class="info">

        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3901478311/">
                心酸摄影：2岁幼童每天抽2包烟
            </a>
        </p>
    </div>

    <div class="thumbnail-list">

        <a target="_blank" href="/group/3901478311/" ga_event="feed_img" class="feed-img"><img src="http://p1.pstatp.com/list/2077/3116576280"></a>
        <a target="_blank" href="/group/3901478311/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2073/4450503873"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3901478311/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2075/3997728607"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3901478311" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">550</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3901478311" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">3562</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3901478311" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">2624</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3901478311/" class="btn">
                <span>带着相机去旅行</span>
            </a>

            <a target="_blank" href="/group/3901478311/" class="btn datetime">
                <span data-publishtime="1422953185">16:46</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【心酸摄影：2岁幼童每天抽2包烟】（分享来自 @今日头条）比利时摄影师Frieke Janssen在新闻中看到过一组照片，那是印度尼西亚的一个两岁男孩，在他父亲的带领和纵容下学会吸烟。他每天要吸40支香烟，吸烟已经造成他身体肥胖，行动困难。Frieke Janssen看到这个新闻后为之一震。..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/group/article/3901478311/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3901478311" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_event="feed_item" style="width: 100%;" class="info">

        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3906447776/">
                湖南房地产老板年终奖送车 做饭阿姨都有份
            </a>
        </p>
    </div>

    <div class="thumbnail-list">

        <a target="_blank" href="/group/3906447776/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2092/4220093343"></a>
        <a target="_blank" href="/group/3906447776/" ga_event="feed_img" class="feed-img"><img src="http://p1.pstatp.com/list/2089/4634419395"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3906447776/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2088/5412763846"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3906447776" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">589</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3906447776" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">16</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3906447776" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">96</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3906447776/" class="btn">
                <span>手机光明网</span>
            </a>

            <a target="_blank" href="/group/3906447776/" class="btn datetime">
                <span data-publishtime="1422953154">16:45</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【湖南房地产老板年终奖送车 做饭阿姨都有份】（分享来自 @今日头条）..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/i/group/article/3906447776/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3906447776" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_event="feed_item" style="width: 100%;" class="info">

        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3909447340/">
                联想新旗舰Z3 PRO，外形设计真心让人眼前一亮
            </a>
        </p>
    </div>

    <div class="thumbnail-list">

        <a target="_blank" href="/group/3909447340/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2093/6067163754"></a>
        <a target="_blank" href="/group/3909447340/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2090/6808189771"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3909447340/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2093/6074906559"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3909447340" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">29</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3909447340" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">6</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3909447340" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">14</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3909447340/" class="btn">
                <span>科技圈</span>
            </a>

            <a target="_blank" href="/group/3909447340/" class="btn datetime">
                <span data-publishtime="1422953123">16:45</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【联想新旗舰Z3 PRO，外形设计真心让人眼前一亮】（分享来自 @今日头条）对于联想来说，刚刚高调的收购了MOTO，不过自主的高端旗舰依旧是自家在做，今天PHONE人院放出一组联想高端旗舰Z3 PRO的图，设计可谓是别出心裁 。从图片来看最有亮点的就是，其设计很有卡片相机的味道，摄像头为1600万像素（支持光学防抖），内置有3颗三色LED闪光灯，并且提供..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/group/article/3909447340/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3909447340" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_label="hasImg" ga_event="feed_item" class="info">

        <p class="title ">
            <a target="_blank" ga_event="feed_title" href="/group/3909170821/">
                《英雄指令》超级碗广告遭差评：用户满意度排名垫底
            </a>
        </p>
    </div>

    <div class="thumbnail">
        <div class="img-box">
            <a target="_blank" href="/group/3909170821/" ga_event="feed_img" class="feed-img">
                <img src="http://p1.pstatp.com/list/2088/7085808273">
            </a>
        </div>
    </div>

    <p style="" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3909170821" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">0</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3909170821" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">0</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3909170821" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">0</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3909170821/" class="btn">
                <span>游戏陀螺</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="http://p1.pstatp.com/list/2088/7085808273" data-text="【《英雄指令》超级碗广告遭差评：用户满意度排名垫底】（分享来自 @今日头条）点击分享本文： 编译/游戏陀螺 Kevin超级碗被很多人戏称为“美国的春晚”，游戏陀螺上周曾报道，在2015年第49届超级碗期间，有3家手游公司为自家游戏投放了电视广告。现在，是看效果的时候了。..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/i/group/article/3909170821/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3909170821" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_event="feed_item" style="width: 100%;" class="info">

        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3901265220/">
                卡卡西退休寂寞不忘勤练右手 《火影忍者》玩转朋友圈
            </a>
        </p>
    </div>

    <div class="thumbnail-list">

        <a target="_blank" href="/group/3901265220/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2076/3509055973"></a>
        <a target="_blank" href="/group/3901265220/" ga_event="feed_img" class="feed-img"><img src="http://p1.pstatp.com/list/2074/3754099253"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3901265220/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2072/4744956566"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3901265220" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">420</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3901265220" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">22</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3901265220" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">372</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3901265220/" class="btn">
                <span>超好玩游戏网</span>
            </a>

            <a target="_blank" href="/group/3901265220/" class="btn datetime">
                <span data-publishtime="1422953061">16:44</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【卡卡西退休寂寞不忘勤练右手 《火影忍者》玩转朋友圈】（分享来自 @今日头条）在这个娱乐至上的年代，小伙伴们越来越喜欢恶搞，天马行空的想象力实在是让小编汗颜！而在二次元中米娜桑越是喜欢某部作品，当然更是不会放过它们啦！嘿嘿。各种手段，各种玩法，各种黑科技，种类繁多，而在其中被玩出的梗更是数不胜数。拥有广大群众基础的《火影忍者》怎么可能少了被“调戏”的戏码呢..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/i/group/article/3901265220/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3901265220" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_label="hasImg" ga_event="feed_item" class="info">

        <p class="title ">
            <a target="_blank" ga_event="feed_title" href="/group/3908959796/">
                真是让人气愤：丈夫陪产抚慰不成，竟然动手打了妻子
            </a>
        </p>
    </div>

    <div class="thumbnail">
        <div class="img-box">
            <a target="_blank" href="/group/3908959796/" ga_event="feed_img" class="feed-img">
                <img src="http://p2.pstatp.com/list/2089/5735322490">
            </a>
        </div>
    </div>

    <p style="" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3908959796" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">82</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3908959796" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">659</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3908959796" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">652</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3908959796/" class="btn">
                <span>健康宝贝网</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="http://p2.pstatp.com/list/2089/5735322490" data-text="【真是让人气愤：丈夫陪产抚慰不成，竟然动手打了妻子】（分享来自 @今日头条）妻子产房分娩，陪产丈夫该做什么？在外焦急等候还是全程陪产？想必大部分孕妈们是希望丈夫能够陪在身边的吧，事实上，陪妻子进产房分娩，并不是每个准。..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/i/group/article/3908959796/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3908959796" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_event="feed_item" style="width: 100%;" class="info">

        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3909548109/">
                内涵笑图：兄弟，插个队，我先补一下老婆~
            </a>
        </p>
    </div>

    <div class="thumbnail-list">

        <a target="_blank" href="/group/3909548109/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2091/6550007081"></a>
        <a target="_blank" href="/group/3909548109/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2093/5743014404"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3909548109/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2094/5633655452"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3909548109" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">51</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3909548109" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">12</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3909548109" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">36</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3909548109/" class="btn">
                <span>内涵段子</span>
            </a>

            <a target="_blank" href="/group/3909548109/" class="btn datetime">
                <span data-publishtime="1422952999">16:43</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【内涵笑图：兄弟，插个队，我先补一下老婆~】（分享来自 @今日头条）-老婆，我想到一个生财之计~-你先跪上！技能树点到泡妞了吧，后悔自己没有麒麟臂了吧！-兄弟，插个队，我先补一下老婆~电车也能硬生生该出大奔的效果！鸡犬不宁的来历......亲子鉴定&mdash;&mdash;亲生的老王你失败了！姑娘你捂着嘴干嘛，又不是用来吃的~这么多年穿校服的经验，证明了我的创造力太匮..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/group/article/3909548109/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3909548109" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_label="hasImg" ga_event="feed_item" class="info">

        <p class="title ">
            <a target="_blank" ga_event="feed_title" href="/group/3908352073/">
                女孩与男友会朋友未化妆遭嫌弃 地铁内大闹分手
            </a>
        </p>
    </div>

    <div class="thumbnail">
        <div class="img-box">
            <a target="_blank" href="/group/3908352073/" ga_event="feed_img" class="feed-img">
                <img src="http://p2.pstatp.com/list/2089/3798592246">
            </a>
        </div>
    </div>

    <p style="" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3908352073" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">160</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3908352073" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">2008</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3908352073" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">403</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3908352073/" class="btn">
                <span>手机光明网</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="http://p2.pstatp.com/list/2089/3798592246" data-text="【女孩与男友会朋友未化妆遭嫌弃 地铁内大闹分手】（分享来自 @今日头条）..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/i/group/article/3908352073/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3908352073" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_event="feed_item" style="width: 100%;" class="info">

        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3909308103/">
                紧急通告：用建行卡及其它银行卡的朋友要小心！
            </a>
        </p>
    </div>

    <div class="thumbnail-list">

        <a target="_blank" href="/group/3909308103/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2093/5642332404"></a>
        <a target="_blank" href="/group/3909308103/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2090/6372451965"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3909308103/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2089/6672121178"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3909308103" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">111</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3909308103" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">47</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3909308103" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">462</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3909308103/" class="btn">
                <span>支付联盟</span>
            </a>

            <a target="_blank" href="/group/3909308103/" class="btn datetime">
                <span data-publishtime="1422952723">16:38</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【紧急通告：用建行卡及其它银行卡的朋友要小心！】（分享来自 @今日头条）小编导读：用建行卡的朋友，如果你收到了建行95533发来的积分兑换现金的短信，一定要提高警惕了：这有可能是骗子用改号软件发的。如果按短信要求做，你的钱就会被骗子转走！提醒：收到这样的短信，一定要仔细看清楚网址，钓鱼网站与官方网站不同；二是务必回拨银行官方客服电话核实确认。岁尾年初..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/group/article/3909308103/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3909308103" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">

    <span class="status">
        <i class="icon icon-recommend icon-large"></i>
    </span>


    <div ga_event="feed_item" style="width: 100%;" class="info">

        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3902106424/">
                给家人买的魅族MX4土豪金，爱你所爱
            </a>
        </p>
    </div>

    <div class="thumbnail-list">

        <a target="_blank" href="/group/3902106424/" ga_event="feed_img" class="feed-img"><img src="http://p1.pstatp.com/list/2079/3845695346"></a>
        <a target="_blank" href="/group/3902106424/" ga_event="feed_img" class="feed-img"><img src="http://p1.pstatp.com/list/2073/5789687029"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3902106424/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2076/5322150372"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3902106424" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">986</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3902106424" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">390</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3902106424" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">391</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3902106424/" class="btn">
                <span>南昌圈圈网</span>
            </a>

            <a target="_blank" href="/group/3902106424/" class="btn datetime">
                <span data-publishtime="1422952585">16:36</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【给家人买的魅族MX4土豪金，爱你所爱】（分享来自 @今日头条）给家人买的魅族MX4土豪金，爱你所爱。怪兽男02-01 14:50 国产的安卓机，一直就很衷情于魅族，不仅是魅族的老大黄章的性格。更是一直觉得魅族的产品非常好看，不过从小米4之后产品来看，小米的产品也越来越好看了，哈哈是的，我就是这么注意颜值。 魅4.简介的包装盒。你喜欢吗？ 超..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/i/group/article/3902106424/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3902106424" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">

    <span class="status">
        <i class="icon icon-recommend icon-large"></i>
    </span>


    <div ga_event="feed_item" style="width: 100%;" class="info">

        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3908977953/">
                盘点LOL十大清兵大王：请叫我刷兵机器
            </a>
        </p>
    </div>

    <div class="thumbnail-list">

        <a target="_blank" href="/group/3908977953/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2091/5419403921"></a>
        <a target="_blank" href="/group/3908977953/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2095/3800165661"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3908977953/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2095/3802956227"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3908977953" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">6</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3908977953" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">281</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3908977953" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">65</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3908977953/" class="btn">
                <span>谦言万语</span>
            </a>

            <a target="_blank" href="/group/3908977953/" class="btn datetime">
                <span data-publishtime="1422952447">16:34</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【盘点LOL十大清兵大王：请叫我刷兵机器】（分享来自 @今日头条）想必很多LOL玩家都知道，在游戏中要想发育好，除了人头的金币来源以外，最重要的还是靠补兵来更好的发育。但人头不是别人站在那让你捡的，但兵就是一波一波等着你的，所以在LOL中补兵是最大的经济来源，差不多二十个兵左右就可以抵一个人头了。那么小编今天就来给大家盘点下，LOL中众英雄谁是..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/group/article/3908977953/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3908977953" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_label="hasImg" ga_event="feed_item" class="info">

        <p class="title ">
            <a target="_blank" ga_event="feed_title" href="/group/3909589152/">
                暖暖哒！许鞍华执导，第一部中国主题苹果广告《老唱片》
            </a>
        </p>
    </div>

    <div class="thumbnail">
        <div class="img-box">
            <a target="_blank" href="/group/3909589152/" ga_event="feed_img" class="feed-img">
                <img src="http://p2.pstatp.com/list/2092/7172140049">
            </a>
        </div>
    </div>

    <p style="" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3909589152" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">16</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3909589152" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">3</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3909589152" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">18</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3909589152/" class="btn">
                <span>V电影</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="http://p2.pstatp.com/list/2092/7172140049" data-text="【暖暖哒！许鞍华执导，第一部中国主题苹果广告《老唱片》】（分享来自 @今日头条）许鞍华的导演，张叔平的美术指导，杜可风及其他亚洲电影制作人的协作，通过自行车、水仙花、周璇、老弄堂等传统元素塑造中国气氛，代替了新年的爆竹和大红对联等艳丽的色调，显得温情而暖心。..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/group/article/3909589152/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3909589152" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>

<li data-node="item" class="item clearfix">


    <div ga_event="feed_item" style="width: 100%;" class="info">

        <p class="title img-list">
            <a target="_blank" ga_event="feed_title" href="/group/3907020400/">
                买衣服别光知道看价格，衣服标签藏着很多秘密！
            </a>
        </p>
    </div>

    <div class="thumbnail-list">

        <a target="_blank" href="/group/3907020400/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2090/1036920263"></a>
        <a target="_blank" href="/group/3907020400/" ga_event="feed_img" class="feed-img"><img src="http://p1.pstatp.com/list/2094/98953956"></a>
        <a style="margin-right: 0;" target="_blank" href="/group/3907020400/" ga_event="feed_img" class="feed-img"><img src="http://p2.pstatp.com/list/2091/986399391"></a>
    </div>

    <p style="width: 100%;" class="footer">
        <span class="other">

            <span class="btn-group" data-node="likeGroup">

                <a title="顶" href="javascript:;" class="btn line" data-groupid="3907020400" data-node="digg" ga_event="feed_item_digg">
                    <i class="icon icon-like icon-small"></i>
                    <span data-node="num" class="liked-num">952</span>
                </a><a title="踩" href="javascript:;" class="btn" data-groupid="3907020400" data-node="bury" ga_event="feed_item_bury">
                <i class="icon icon-dislike icon-small"></i>
                <span data-node="num" class="disliked-num">197</span>
            </a>
            </span>
            <!--span class="btn-group">
                <a ga_event="feed_item_repin" title="收藏" data-groupid="3907020400" data-node="repin" class="btn
            " href="javascript:;">
                    <i class="icon icon-cllection icon-small"></i>
                    <span class="cllectioned-num" data-node="num">35552</span>
                </a>
            </span-->
        </span>
        <span class="footer-right">
            <a target="_blank" href="/group/3907020400/" class="btn">
                <span>时尚你vvv会懂</span>
            </a>

            <a target="_blank" href="/group/3907020400/" class="btn datetime">
                <span data-publishtime="1422952171">16:29</span>
            </a>

            <a href="javascript:;" class="btn share" data-pic="" data-text="【买衣服别光知道看价格，衣服标签藏着很多秘密！】（分享来自 @今日头条）1、先看级别标注A类 是能让2周岁以内婴幼儿穿的；B类 是能接触皮肤的产品；C类 是不能直接接触皮肤的产品。如果你发现内衣上标着C类或者标着“合格品”，不要购买。2、看尺寸号型标如果用L、M、X等来表示大小，是不符合标准的。这样的产品只能告诉我们它的生产厂家不用心，质量上很难让人..." data-desc="来自头条 http://www.toutiao.com" data-url="http://web.toutiao.com/i/group/article/3907020400/?iid=3168506463&amp;app=news_article" data-node="share">
                <i class="icon icon-share"></i>
                <span class="share-list">
                    <i title="分享到新浪微博" href="javascript:;" class="icon icon-tsina" data-type="tsina" ga_label="tsina" ga_event="feed_item_share"></i>
                    <i title="分享到腾讯微博" href="javascript:;" class="icon icon-tqq" data-type="tqq" ga_label="tqq" ga_event="feed_item_share"></i>
                    <i title="分享到ＱＱ空间" href="javascript:;" class="icon icon-qzone" data-type="qzone" ga_label="qzone" ga_event="feed_item_share"></i>
                </span>
            </a>
        </span>
    </p>
    <a data-groupid="3907020400" data-node="close" href="javascript:;" title="不感兴趣" class="btn close" ga_event="feed_item_dislike">
        <i class="icon icon-close icon-small"></i>
    </a>
</li>
</ul>
