<div class="rs_dm">
	<div class="rs_dm_tit">
	<h3>漫画点击排行榜</h3>
	<ul static="1600&amp;tn=indsa&amp;bl=index_top_search&amp;stp=tab" class="tang-title"  id="tab_rank">
		<li onmouseover="secBoard('tab_rank','ranklist_a',1,'tang-title-item tang-title-item-selected','tang-title-item first');" class="tang-title-item tang-title-item-selected"><a hidefocus="true" href="javascript:;">总</a><div class="jiantou"></div></li>
		<li onmouseover="secBoard('tab_rank','ranklist_a',2,'tang-title-item tang-title-item-selected','tang-title-item first');" class="tang-title-item first"><a hidefocus="true" href="javascript:;">月</a><div class="jiantou"></div></li>
		<li onmouseover="secBoard('tab_rank','ranklist_a',3,'tang-title-item tang-title-item-selected','tang-title-item first');" class="tang-title-item first"><a hidefocus="true" href="javascript:;">周</a><div class="jiantou"></div></li>
		<li onmouseover="secBoard('tab_rank','ranklist_a',4,'tang-title-item tang-title-item-selected','tang-title-item first');" class="tang-title-item first"><a hidefocus="true" href="javascript:;">日</a><div class="jiantou"></div></li>	
	</ul>
</div>
<div class="rs_dm_txt">
{php $where = "type_id NOT IN(".dimplode(dexplode(NOT_ALLOW)).")";}		
{php $class= array(1=>'first',2=>'second',3=>'third')}
	<ul id="ranklist_a_1" style="display:block" >
		{php $i=1;}
		{pc:content action="hits2" catid="13" num="10" where="$where" order="views DESC" cache="3600"}
		{loop $data $r}
				<li><i target="_blank" class="{$class[$i]}">{$i}</i><a href="/manhua{$r[id]}/">{str_cut($r[title],25,"")}</a></li>
			{php $i++}
		{/loop}
		{/pc}
	</ul>
	<ul id="ranklist_a_2" style="display:none">
		{php $i=1;}
		{pc:content action="hits2" catid="13" num="10"  where="$where" order="monthviews DESC" cache="3600"}
		{loop $data $r}
				<li><i target="_blank" class="{$class[$i]}">{$i}</i><a href="/manhua{$r[id]}/">{str_cut($r[title],25,"")}</a></li>
			{php $i++}
		{/loop}
		{/pc}
	</ul>

	<ul id="ranklist_a_3" style="display:none">
		{php $i=1;}
		{pc:content action="hits2" catid="13" num="10"  where="$where" order="weekviews DESC" cache="3600"}
		{loop $data $r}
				<li><i target="_blank" class="{$class[$i]}">{$i}</i><a href="/manhua{$r[id]}/">{str_cut($r[title],25,"")}</a></li>
			{php $i++}
		{/loop}
		{/pc}
	</ul>

	<ul id="ranklist_a_4" style="display:none">
		{php $i=1;}
		{pc:content action="hits2" catid="13" num="10"  where="$where" order="dayviews DESC" cache="3600"}
		{loop $data $r}
				<li><i target="_blank" class="{$class[$i]}">{$i}</i><a href="/manhua{$r[id]}/">{str_cut($r[title],25,"")}</a></li>
			{php $i++}
		{/loop}
		{/pc}
	</ul>
</div>
</div>