{template "content","header"}
<!--main-->
    <div class="middle_div1">
    	<div class="middle_div1_le" style="border:none;">
        	<div class="mhzx">
            	<div class="mhzx_tit">
                	<ul style="float:left;">                
                        	<li class="on" onmouseover="changeTab(5,0)"><strong>漫画捷报</strong></li>    
                    </ul>
                     <span style=" float:right; margin-top:7px; margin-left:15px; margin-right:5px;">1/10页</span>
                    <div style=" float:right;">
                    	<select style="margin-top:7px;margin-right:5px;" class="search_ps">						<option selected="" value="/manhua-list-lm3-size20/">少年热血</option></select>										<select class="msz search_area" style="margin-top:7px;margin-right:5px;">                     <option value="/manhua-list-lm3-size80">全部地区</option>                       <option value="/manhua-list-area35-lm3-size80/">港台</option>                       <option value="/manhua-list-area36-lm3-size80/">日韩</option>                       <option value="/manhua-list-area37-lm3-size80/">中国</option>                       <option value="/manhua-list-area52-lm3-size80/">欧美</option>					</select>
                    </div>
                   
                </div>
                <div class="mhzx_txt">
                	<div class="mhzx_txt_le"><a href="#" target="_self"><img src="{IMG_PATH}img/u17_normal.png" /></a></div>
                    <div class="mhzx_txt_ri">
                    	<div class="to">
                        	<i class="icon"></i>
            				<h3>火影忍者522集「恐怖·蒸危暴威!!」</h3>
                        </div>
                        <p>我爱罗与大野木攻破了二代水影的蜃气楼。然而至今为止都十分配合的水影开始享受战斗的乐趣，用更厉害的招数进攻过来。那招就是连二代土影也束手无策的无线爆破忍术·蒸危暴威。 ...  <a href="#" target="_blank">[阅读全文]</a></p>
                        <div class="pl">
                        	<div class="pl_le"><span>浏览:27</span><span><a href="#" target="_blank">评论:0</a></div>
                            <div class="pl_ri"><img src="{IMG_PATH}img/fenxiang.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="mhzx_txt">
                	<div class="mhzx_txt_le"><a href="#" target="_self"><img src="{IMG_PATH}img/u17_normal.png" /></a></div>
                    <div class="mhzx_txt_ri">
                    	<div class="to">
                        	<i class="icon"></i>
            				<h3>火影忍者522集「恐怖·蒸危暴威!!」</h3>
                        </div>
                        <p>我爱罗与大野木攻破了二代水影的蜃气楼。然而至今为止都十分配合的水影开始享受战斗的乐趣，用更厉害的招数进攻过来。那招就是连二代土影也束手无策的无线爆破忍术·蒸危暴威。 ...  <a href="#" target="_blank">[阅读全文]</a></p>
                        <div class="pl">
                        	<div class="pl_le"><span>浏览:27</span><span><a href="#" target="_blank">评论:0</a></div>
                            <div class="pl_ri"><img src="{IMG_PATH}img/fenxiang.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="mhzx_txt">
                	<div class="mhzx_txt_le"><a href="#" target="_self"><img src="{IMG_PATH}img/u17_normal.png" /></a></div>
                    <div class="mhzx_txt_ri">
                    	<div class="to">
                        	<i class="icon"></i>
            				<h3>火影忍者522集「恐怖·蒸危暴威!!」</h3>
                        </div>
                        <p>我爱罗与大野木攻破了二代水影的蜃气楼。然而至今为止都十分配合的水影开始享受战斗的乐趣，用更厉害的招数进攻过来。那招就是连二代土影也束手无策的无线爆破忍术·蒸危暴威。 ...  <a href="#" target="_blank">[阅读全文]</a></p>
                        <div class="pl">
                        	<div class="pl_le"><span>浏览:27</span><span><a href="#" target="_blank">评论:0</a></div>
                            <div class="pl_ri"><img src="{IMG_PATH}img/fenxiang.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="mhzx_txt">
                	<div class="mhzx_txt_le"><a href="#" target="_self"><img src="{IMG_PATH}img/u17_normal.png" /></a></div>
                    <div class="mhzx_txt_ri">
                    	<div class="to">
                        	<i class="icon"></i>
            				<h3>火影忍者522集「恐怖·蒸危暴威!!」</h3>
                        </div>
                        <p>我爱罗与大野木攻破了二代水影的蜃气楼。然而至今为止都十分配合的水影开始享受战斗的乐趣，用更厉害的招数进攻过来。那招就是连二代土影也束手无策的无线爆破忍术·蒸危暴威。 ...  <a href="#" target="_blank">[阅读全文]</a></p>
                        <div class="pl">
                        	<div class="pl_le"><span>浏览:27</span><span><a href="#" target="_blank">评论:0</a></div>
                            <div class="pl_ri"><img src="{IMG_PATH}img/fenxiang.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="mhzx_txt">
                	<div class="mhzx_txt_le"><a href="#" target="_self"><img src="{IMG_PATH}img/u17_normal.png" /></a></div>
                    <div class="mhzx_txt_ri">
                    	<div class="to">
                        	<i class="icon"></i>
            				<h3>火影忍者522集「恐怖·蒸危暴威!!」</h3>
                        </div>
                        <p>我爱罗与大野木攻破了二代水影的蜃气楼。然而至今为止都十分配合的水影开始享受战斗的乐趣，用更厉害的招数进攻过来。那招就是连二代土影也束手无策的无线爆破忍术·蒸危暴威。 ...  <a href="#" target="_blank">[阅读全文]</a></p>
                        <div class="pl">
                        	<div class="pl_le"><span>浏览:27</span><span><a href="#" target="_blank">评论:0</a></div>
                            <div class="pl_ri"><img src="{IMG_PATH}img/fenxiang.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="mhzx_txt">
                	<div class="mhzx_txt_le"><a href="#" target="_self"><img src="{IMG_PATH}img/u17_normal.png" /></a></div>
                    <div class="mhzx_txt_ri">
                    	<div class="to">
                        	<i class="icon"></i>
            				<h3>火影忍者522集「恐怖·蒸危暴威!!」</h3>
                        </div>
                        <p>我爱罗与大野木攻破了二代水影的蜃气楼。然而至今为止都十分配合的水影开始享受战斗的乐趣，用更厉害的招数进攻过来。那招就是连二代土影也束手无策的无线爆破忍术·蒸危暴威。 ...  <a href="#" target="_blank">[阅读全文]</a></p>
                        <div class="pl">
                        	<div class="pl_le"><span>浏览:27</span><span><a href="#" target="_blank">评论:0</a></div>
                            <div class="pl_ri"><img src="{IMG_PATH}img/fenxiang.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="mhzx_txt">
                	<div class="mhzx_txt_le"><a href="#" target="_self"><img src="{IMG_PATH}img/u17_normal.png" /></a></div>
                    <div class="mhzx_txt_ri">
                    	<div class="to">
                        	<i class="icon"></i>
            				<h3>火影忍者522集「恐怖·蒸危暴威!!」</h3>
                        </div>
                        <p>我爱罗与大野木攻破了二代水影的蜃气楼。然而至今为止都十分配合的水影开始享受战斗的乐趣，用更厉害的招数进攻过来。那招就是连二代土影也束手无策的无线爆破忍术·蒸危暴威。 ...  <a href="#" target="_blank">[阅读全文]</a></p>
                        <div class="pl">
                        	<div class="pl_le"><span>浏览:27</span><span><a href="#" target="_blank">评论:0</a></div>
                            <div class="pl_ri"><img src="{IMG_PATH}img/fenxiang.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="mhzx_txt">
                	<div class="mhzx_txt_le"><a href="#" target="_self"><img src="{IMG_PATH}img/u17_normal.png" /></a></div>
                    <div class="mhzx_txt_ri">
                    	<div class="to">
                        	<i class="icon"></i>
            				<h3>火影忍者522集「恐怖·蒸危暴威!!」</h3>
                        </div>
                        <p>我爱罗与大野木攻破了二代水影的蜃气楼。然而至今为止都十分配合的水影开始享受战斗的乐趣，用更厉害的招数进攻过来。那招就是连二代土影也束手无策的无线爆破忍术·蒸危暴威。 ...  <a href="#" target="_blank">[阅读全文]</a></p>
                        <div class="pl">
                        	<div class="pl_le"><span>浏览:27</span><span><a href="#" target="_blank">评论:0</a></div>
                            <div class="pl_ri"><img src="{IMG_PATH}img/fenxiang.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="mhzx_txt">
                	<div class="mhzx_txt_le"><a href="#" target="_self"><img src="{IMG_PATH}img/u17_normal.png" /></a></div>
                    <div class="mhzx_txt_ri">
                    	<div class="to">
                        	<i class="icon"></i>
            				<h3>火影忍者522集「恐怖·蒸危暴威!!」</h3>
                        </div>
                        <p>我爱罗与大野木攻破了二代水影的蜃气楼。然而至今为止都十分配合的水影开始享受战斗的乐趣，用更厉害的招数进攻过来。那招就是连二代土影也束手无策的无线爆破忍术·蒸危暴威。 ...  <a href="#" target="_blank">[阅读全文]</a></p>
                        <div class="pl">
                        	<div class="pl_le"><span>浏览:27</span><span><a href="#" target="_blank">评论:0</a></div>
                            <div class="pl_ri"><img src="{IMG_PATH}img/fenxiang.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="mhzx_txt">
                	<div class="mhzx_txt_le"><a href="#" target="_self"><img src="{IMG_PATH}img/u17_normal.png" /></a></div>
                    <div class="mhzx_txt_ri">
                    	<div class="to">
                        	<i class="icon"></i>
            				<h3>火影忍者522集「恐怖·蒸危暴威!!」</h3>
                        </div>
                        <p>我爱罗与大野木攻破了二代水影的蜃气楼。然而至今为止都十分配合的水影开始享受战斗的乐趣，用更厉害的招数进攻过来。那招就是连二代土影也束手无策的无线爆破忍术·蒸危暴威。 ...  <a href="#" target="_blank">[阅读全文]</a></p>
                        <div class="pl">
                        	<div class="pl_le"><span>浏览:27</span><span><a href="#" target="_blank">评论:0</a></div>
                            <div class="pl_ri"><img src="{IMG_PATH}img/fenxiang.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="ad02" id="search_fy" style="margin: 20px 0;">             <span class="current">1</span><a href="/manhua-new-p2/">2</a><a href="/manhua-new-p3/">3</a><a href="/manhua-new-p4/">4</a><a href="/manhua-new-p5/">5</a><a href="/manhua-new-p6/">6</a><a href="/manhua-new-p7/">7</a><a href="/manhua-new-p8/">8</a>...<a href="/manhua-new-p510/">510</a><a href="/manhua-new-p2/">下一页</a>           	   </div>	
            </div>
        </div>
        
        
        <div class="middle_div1_ri">
        	<div class="tu"><img src="{IMG_PATH}img/u186_normal.png"></div>
            <div class="rs_dm">
            	<div class="rs_dm_tit">
                <h3>漫画点击排行榜</h3>
                <ul static="1600&amp;tn=indsa&amp;bl=index_top_search&amp;stp=tab" class="tang-title" id="TANGRAM$4__title">
                        <li class="tang-title-item tang-title-item-selected"><a hidefocus="true" href="javascript:;">总</a><div class="jiantou"></div></li>
						<li class="tang-title-item first"><a hidefocus="true" href="javascript:;">月</a><div class="jiantou"></div>
</li>
						<li class="tang-title-item first"><a hidefocus="true" href="javascript:;">周</a><div class="jiantou"></div>
</li>
						<li class="tang-title-item first"><a hidefocus="true" href="javascript:;">日</a><div class="jiantou"></div>
</li>					
					</ul>
                </div>
                <div class="rs_dm_txt">
                	<ul>
                    	<li><i class="first">1</i><a href="#">火影忍者</a></li>
                        <li><i class="second">2</i><a href="#">海贼王</a></li>
                        <li><i class="third">3</i><a href="#">邪恶漫画合集...</a></li>
                        <li><i>4</i><a href="#">死神</a></li>
                        <li><i>5</i><a href="#">妖精的尾巴</a></li>
                        <li><i>6</i><a href="#">人鱼公主传（...</a></li>
                        <li><i>7</i><a href="#">邪恶漫画期刊</a></li>
                        <li><i>8</i><a href="#">梦龙Y传(色...</a></li>
                        <li><i>9</i><a href="#">弟弟想当哥哥的情人</a></li>
                        <li><i>10</i><a href="#">人鱼公主传（...</a></li>
                        <li><i>11</i><a href="#">邪恶漫画期刊</a></li>
                        <li><i>12</i><a href="#">梦龙Y传(色...</a></li>
                        <li><i>13</i><a href="#">弟弟想当哥哥的情人</a></li>
                        <li><i>14</i><a href="#">妖精的尾巴</a></li>
                        <li style="border-bottom:none;"><i>15</i><a href="#">保健室的秘密</a></li>
                    </ul>
                </div>
            </div>
            
                <div class="xh_man">
            	<div class="xh_man_tit">
                	<ul>                
                        	<li class="on" onmouseover="changeTab(5,0)" style="width:110px;"><strong>完结漫画推荐</strong></li>      
                   </ul>
                </div>
                <div class="xh_man_txt">
                	<ul>
                    	<li>
                        	<a href="#" target="_blank"><img src="{IMG_PATH}img/u142_normal.png"></a>
                            <a href="#" target="_blank">龙抬头</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank"><img src="{IMG_PATH}img/u142_normal.png"></a>
                            <a href="#" target="_blank">龙抬头</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank"><img src="{IMG_PATH}img/u142_normal.png"></a>
                            <a href="#" target="_blank">龙抬头</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank"><img src="{IMG_PATH}img/u142_normal.png"></a>
                            <a href="#" target="_blank">龙抬头</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank"><img src="{IMG_PATH}img/u142_normal.png"></a>
                            <a href="#" target="_blank">龙抬头</a>
                        </li>
                        <li>
                        	<a href="#" target="_blank"><img src="{IMG_PATH}img/u142_normal.png"></a>
                            <a href="#" target="_blank">龙抬头</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{template "content","footer"}