{template "content","header"}
{php $footer_txt= "漫画城动漫城频道拥有上万集高清晰画质的在线动漫、好看的动漫、火影忍者动漫，漫画城是最齐全的动漫大全，国内最大的动漫城。";}
<style>
.dongman_tit1 li {
    width: 75px;
}
.today1_txt1 li{
	height:207px;
}
</style>
	{template "content","dm_nav"}
    <div class="zj">
        	<div class="zj_tit">
           		<i class="icon"></i>
           		<h3>最近更新</h3>       
          	</div>
            <div class="zj_txt">
                <ul class="mod-pic2">
					{pc:content action="table_list" table="dongman" fields="id,title,thumb" status="99" order="inputtime DESC" num="8" cache="3600" }
					{loop $data $r}
						    <li><a target="_blank" title="{$r[title]}" href="/dongman{$r[id]}"><img width="100" height="90" src="{$r[thumb]}"><p>{str_cut($r[title],25,'')}</p></a></li>
					{/loop}
					{/pc}
              	</ul>
                   </div>
             </div>
    <div class="middle">
    	<div class="middle_le">
        	<div class="today">
                	<div class="today_tit">
                    	 
                    	<ul id="tab_a">                
                        	<li onmouseover="secBoard('tab_a','infolist_a',1,'on','');" class="on"><strong>今日动漫推荐</strong></li>                
							<li onmouseover="secBoard('tab_a','infolist_a',2,'on','');"><strong>经典完结动漫</strong></li>  
                                 
                        </ul>
                    </div>
                    <div class="today_txt">
                    	<ul id="infolist_a_1" style="display:block">
						{pc:content action="position" posid="16" order="updatetime DESC" sort="desc" num="12"}
						{loop $data $r}
                       		<li>
                            	<a target="_blank" title="{{$r['title']}" href="/dongman{$r[id]}"><img  width='115' height='130' src="{$r[thumb]}"></a>
                                <a target="_blank"  title="{$r['title']}" href="/dongman{$r[id]}">{str_cut($r[title],25,'')}</a>
                            </li>
						{/loop}
						{/pc}
                        </ul>
                        <ul id="infolist_a_2" style="display:none">
                        	{pc:content action="table_list" table="dongman" fields="id,title,thumb" status="99" state="1" order="views DESC" num="12" cache="3600" }
							{loop $data $r}
									<li>
									<a target="_blank" title="{$r[title]}" href="/dongman{$r[id]}"><img width="105" height="120" src="{$r[thumb]}"></a>
									<a href="/dongman{$r[id]}" title="{$r[title]}" target="_blank">{str_cut($r[title],25,'')}</a></li>
							{/loop}
							{/pc}
                        </ul>
                    </div>
                </div>
                <div class="today1" >
                	<div class="today1_tit">
                    	<ul id ="tab_c">                
							<li class="on" onmouseover="secBoard('tab_c','infolist_c',1,'on','');"><strong>日韩动漫</strong></li> 
							<li onmouseover="secBoard('tab_c','infolist_c',2,'on','');"><strong>欧美动漫</strong></li>  
							<li onmouseover="secBoard('tab_c','infolist_c',3,'on','');"><strong>港台动漫</strong></li>     
							<li onmouseover="secBoard('tab_c','infolist_c',4,'on','');"><strong>国产动漫</strong></li>   
                        </ul>

                    </div>
                     <div class="today1_txt">
                    	<ul class="today1_txt1" id="infolist_c_1" style="display:block">
						{php $where1 = " status = 99 AND CartoonArea = 3361";}
                        {pc:content action="table_list" table="dongman" where="$where1" order="updatetime DESC" num="10" cache="3600" }
						  {loop $data $r}
							<li>
								<a href="/dongman{$r[id]}" title = '{$r[title]}' target="_blank"><img width='115' height='130' src="{$r[thumb]}"/></a>
								<a href="/dongman{$r[id]}" title = '{$r[title]}' target="_blank">{str_cut($r[title],25,'')}</a>
							</li>
						  {/loop}
						{/pc}
                        </ul>
						<ul class="today1_txt1" id="infolist_c_2" style="display:none">
						{php $where1 = " status = 99 AND CartoonArea = 3363";}
                        {pc:content action="table_list" table="dongman" where="$where1" order="updatetime DESC" num="10" cache="3600" }
						  {loop $data $r}
							<li>
								<a href="/dongman{$r[id]}" title = '{$r[title]}' target="_blank"><img width='115' height='130' src="{$r[thumb]}"/></a>
								<a href="/dongman{$r[id]}" title = '{$r[title]}' target="_blank">{str_cut($r[title],25,'')}</a>
							</li>
						  {/loop}
						{/pc}
                        </ul>
						<ul class="today1_txt1" id="infolist_c_3" style="display:none">
						{php $where1 = " status = 99 AND CartoonArea = 3362";}
                        {pc:content action="table_list" table="dongman" where="$where1" order="updatetime DESC" num="10" cache="3600" }
						  {loop $data $r}
							<li>
								<a href="/dongman{$r[id]}" title = '{$r[title]}' target="_blank"><img width='115' height='130' src="{$r[thumb]}"/></a>
								<a href="/dongman{$r[id]}" title = '{$r[title]}' target="_blank">{str_cut($r[title],25,'')}</a>
							</li>
						  {/loop}
						{/pc}
                        </ul>
						<ul class="today1_txt1" id="infolist_c_4" style="display:none">
						{php $where1 = " status = 99 AND CartoonArea = 3364";}
                        {pc:content action="table_list" table="dongman" where="$where1" order="updatetime DESC" num="10" cache="3600" }
						  {loop $data $r}
							<li>
								<a href="/dongman{$r[id]}" title = '{$r[title]}' target="_blank"><img width='115' height='130' src="{$r[thumb]}"/></a>
								<a href="/dongman{$r[id]}" title = '{$r[title]}' target="_blank">{str_cut($r[title],25,'')}</a>
							</li>
						  {/loop}
						{/pc}
                        </ul>
                    </div>
                </div>
        </div>
        <div class="middle_ri middle_div1_ri">
			<div class="eveday" style="width: 223px;">
				<div class="rs_dm_tit">
					<h3 style="color:black">每日更新</h3>
				</div>
                <div class="eveday_txt">
                    <div class="eveday_txt_r">
                    	<ul>
							{pc:content action="table_list" table="dongman" fields="id,title" order="inputtime DESC" num="5" cache="3600" }
								{loop $data $r}
			                       <li><a href="/dongman{$r[id]}/">{str_cut($r[title],50,'')}</a></li>
								{/loop}
							{/pc}                        
                       </ul>
                    </div>
                </div>
            </div>
			<div class="jiebao" style="width: 223px;margin-top: 5px;">
				<div class="rs_dm_tit">
					<h3 style="color:black">漫画资讯<span style="float: right;font-size: 12px;font-weight: normal;padding-right: 5px;"><a href="/zixun">更多&gt;&gt;</a></span></h3>
				</div>
                <div class="jiebao_txt">
					<ul>						
					{pc:content action="lists" catid="19" num="8" order="updatetime DESC"}
						{loop $data $r}
							<li><a target="_blank" href="{$r[url]}" title= "{$r[title]}">{str_cut($r[title],45,'...')}</a></li>
						{/loop}
					{/pc}
					</ul>
                </div>
			</div>
            <div class="rs_dm">
            	<div class="rs_dm_tit"><h3 style="color:black" >人气动漫排行</h3></div>
                <div class="rs_dm_txt">
                	<ul>
						{php $class= array(1=>'first',2=>'second',3=>'third')}
						{php $i=1;}
						{php $where_dongman = "status=99";}		
						{pc:content action="table_list" table="dongman" fields="id,catid,title"  where="$where_dongman" order="views DESC" num="10" cache="3600" }
						{loop $data $r}
								<li><i target="_blank" class="{$class[$i]}">{$i}</i><a href="/dongman{$r[id]}/">{str_cut($r[title],25,"")}</a></li>
							{php $i++}
						{/loop}
						{/pc}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="dongman1">
                	<div class="dongman_tit1">
                    	<ul id ="tab_d">   
						  {php $i =1 ;}
						  {php $class= array(1=>'on')}
						   {loop $catlist $r}
							{if $i <= 10}
							  <li onmouseover="secBoard('tab_d','infolist_d',{$i},'on','');"class="{$class[$i]}"><strong>{$r[catname]}</strong></li>
							{else}
							 {php break;}
							{/if}
						   {php $i++;}
						   {/loop}
						  {php unset($i);unset($class);}
                        </ul>
                    </div>
                    <div class="dongman_txt1">
						{php $i =1 ;}
						   {loop $catlist $r}
							{if $i <= 10}
								<ul {if $i > 1}style="display:none"{/if} id="infolist_d_{$i}" class="dongman_txt11">
									{pc:content action="lists" modelid="17" status="99" catid="$r[catid]" order="views desc" num="7"}
										{loop $data  $val}
										<li>
											<a target="_blank" title="{$val[title]}" href="/dongman{$val[id]}"><img width=115 height=130 src="{$val[thumb]}"></a>
											<a target="_blank" title="{$val[title]}" href="/dongman{$val[id]}">{str_cut($val[title],30,'')}</a>
										</li>
										{/loop}
									{/pc}
								</ul>
							{else}
							 {php break;}
							{/if}
						   {php $i++;}
						 {/loop}
                    </div>
                </div>
     <div class="tuku">
     	<div class="tuku_tit"><i class="icon"></i><h3>动漫图库</h3></div>
        <div class="tuku_txt">
        	<ul>
				{php $sql = "SELECT thumb FROM tt_dongman WHERE id >= ((SELECT MAX(id) FROM tt_dongman)-(SELECT MIN(id) FROM tt_dongman)) * RAND() + (SELECT MIN(id) FROM tt_dongman) AND status=99";}
				{pc:get sql="$sql" num="6" cache="3600" }
					{loop $data  $val}
					 <li><img width=146 height=150 src="{$val[thumb]}"></li>
					{/loop}
				{/pc}
            </ul>
        </div>
     </div>
     <div class="lianjie">
        	<div class="lianjie_tit"><h3>友情链接</h3></div>
            <div class="lianjie_txt">
            	{pc:link action="lists" typeid="23" linktype="0" order="desc" num="50" return="dat"}
					{loop $dat $key $v}
					 <a href="{$v[url]}" title="{$v[name]}"  target="_blank">{$v[name]} </a> 
					 {if $v != end($dat)}&nbsp;|&nbsp;{/if}
					{/loop}
				{/pc}
            </div>
        </div>
{template "content","footer"}