{template "content","header"}
    <div class="home_banner1">
    <div class="about_soft">软件版本：2015正式版（2.0.0.21）<br>
      更新时间：2015-09-01<br>
      文件大小：5.06MB<br>
      支持系统：XP/2003/Vista/2008/Win7<br>
      <div class="download"><script>document.write('<a href="http://www.manhuacheng.com/api.php?op=download&u='+document.referrer+'" target="_blank" ></a>');</script></div>
    </div>
    </div>
   	<div class="middle_div1">
    	<div class="middle_div1_le">
        	<div class="mhc">
            	<div class="mhc_tit"><h3>{$title}</h3></div>
                <div class="mhc_txt">
				{$content}
                </div>
            </div>
        </div>
        <div class="middle_div1_ri">
        	<div class="xl_rj">
            	<div class="xl_rj_tit">
                	<h3>漫画城系列软件</h3>
                </div>
                <div class="xl_rj_txt">
                	<div class="content_box box2">
      					  <ul>
		  		  			<li><a href="/download1/">漫画城</a></li>
		  		          </ul>
   				    </div>
                    <div class="clear1"></div>
                    <div class="mainbox help"><a target="_blank" href="/download1/"><img width="200" alt="漫画城" src="{IMG_PATH}img/20110316034325908.png"> </a>   </div>
                    <div class="content_box box2">
      					  <ul>
		  		  			<li><a href="/download1/">礼品兑换</a></li>
		  		          </ul>
   				    </div>
                    <div class="clear1"></div>
                    <div style="text-align:center; padding-bottom:5px; padding-top:5px;"><a href="#" target="_blank"><img src="{IMG_PATH}img/jp.gif" /></a></div>
                </div>
            </div>
            <div class="jiebao">
                	<div class="jiebao_tit">  
                        <span><a href="#">更多&gt;&gt;</a></span>
                    	<ul>                
                        	<li class="on" onmouseover="changeTab(5,0)"><strong>问题快报</strong></li>      
                        </ul>
                    </div>
                    <div class="jiebao_txt">
                    	<ul>
                        	<li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                        </ul>
                    </div>
             </div>
             <div class="to_mh">
             	<div class="to_mh_tit">
                	<span><a href="#">更多&gt;&gt;</a></span>
                    	<ul>                
                        	<li class="on" onmouseover="changeTab(5,0)"><strong>今日漫画推荐</strong></li>      
                        </ul>
                </div>
                <div class="to_mh_txt">
                	<ul>
                       <li><span><a target="_blank" href="#">第101话</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                       <li><span><a target="_blank" href="#">第812话</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                       <li ><span><a target="_blank" href="#">第49话</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                       <li><span><a target="_blank" href="#">第94话</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                       <li><span><a target="_blank" href="#"> 第235话</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                       <li><span><a target="_blank" href="#">第101话</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                       <li><span><a target="_blank" href="#">第812话</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                       <li ><span><a target="_blank" href="#">第49话</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                       <li><span><a target="_blank" href="#">第94话</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                       <li><span><a target="_blank" href="#"> 第235话</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                    </ul>
                </div>
             </div>              
        </div>
    </div>
{template "content","footer"}