{php $w="id=$manhuaid"}
{pc:content action="lists" catid="13" id="$manhuaid" num="1"}
{loop $data $r1}
{php $mh_title = $r1[title];}
{/loop}
{/pc}
{php $SEO['title']=$mh_title.$title."漫画_".$mh_title."漫画".$title."_".$mh_title."漫画-漫画城";}
{php $SEO['site_title']="";}
{php $SEO['keyword']=$mh_title.$title."，".$title."漫画";}
{php $SEO['description']="漫画城提供".$mh_title.$title."、".$mh_title."漫画".$title."第一时间更新，同时也提供".$mh_title.$title."、".$mh_title."漫画的情报、图透等信息，漫画城是一个综合的".$mh_title."在线漫画阅读网站。";}
{php $footer_txt="漫画城与您分享漫画".$mh_title."，以便漫画爱好者研究漫画".$mh_title."的画法技巧和构图方式。";}

{template "content","header"}
<style>
    .photo_prev a{cursor:url({IMG_PATH}beta/prev.cur), auto;}
    .photo_next a{cursor:url({IMG_PATH}beta/next.cur), auto;}
    #big-pic img{ width:100%; height:auto}
</style>
<div class="left c666" style="padding-top:5px;">您现在的位置：&nbsp;<a class="LinkPath" href="{siteurl()}">首页</a>&nbsp;&gt;&nbsp;<a class="LinkPath" href="/manhua">在线漫画</a>
    &gt;&nbsp;<a class="LinkPath" href="/manhua{$manhuaid}">{$mh_title}</a>
    &gt;&nbsp;{$title}
    <div class="center" id='Article'>
        <span id="hits" style="display:none">{$views} 次</span>
        <div class="center_h1" ><h1>{$mh_title}{$title}</h1>
            <?php if($liulanqi=='ie'){
            echo '<h2>IE浏览器不兼容，请使用主流浏览器<strong style="color:red;">谷歌</strong>或者<strong style="color:red;">火狐</strong>观看，效果最佳。</h2>';            }?><span class="stat" id="picnum"></div>
        <div class="big-pic">
            <div id="big-pic"></div>
            <div class="photo_prev"><a id="photoPrev" title="&lt;上一页" class="btn_pphoto" target="_self" hidefocus="true" href="javascript:;" onclick="showpic('pre');"></a></div>
            <div class="photo_next"><a id="photoNext" title="下一页&gt;"class="btn_nphoto" target="_self" hidefocus="true" href="javascript:;" onclick="showpic('next')"></a></div>
            <a href="javascript:;" class="max" onclick="showpic('big');">查看原图</a>

            <div id="endSelect" style="display: none;">
                <div id="endSelClose" onclick="$('#endSelect').hide();"></div>
                <div class="bg"></div>
                <div class="E_Cont">
                    <p>您已经看完这话了</p>
                    <p>
                        <a id="rePlayBut" href="javascript:void(0)" onclick="showpic('next', 1);"></a>
                        {if !empty($next_page)}
                        <a id="nextPicsBut" href="/cartoondetail{$next_page[id]}"></a>
                        {else}<span style="font-size: 12px;padding-left: 20px;">已经是最后一话了</span>{/if}
                    </p>	
                </div>
            </div>

        </div>

         <script type="text/javascript">
            var cpro_id="u2131285";
            (window["cproStyleApi"] = window["cproStyleApi"] || {})[cpro_id]={at:"3",rsi0:"1000",rsi1:"150",pat:"1",tn:"baiduCustNativeAD",rss1:"#FFFFFF",conBW:"1",adp:"1",ptt:"0",titFF:"%E5%AE%8B%E4%BD%93",titFS:"14",rss2:"#000000",titSU:"0",tft:"0",tlt:"1",ptbg:"90",piw:"0",pih:"0",ptp:"0"}
        </script>
        <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
        
        <div class="list-pic">
            <div class="pre picbig pager">
                {if !empty($previous_page)}
                <a target="_self" class="zsshangz" href="/cartoondetail{$previous_page[id]}">上一话</a>
                {else}已经是第一话了{/if}
            </div>
            <a href="javascript:;" onclick="showpic('pre')" class="pre-bnt"><span></span></a>
            <div class="cont" style="position:relative">
                <ul class="cont picbig" id="pictureurls"  style="position:absolute">
                    {loop $CartoonImage $pic_k $r}
                    <?php
                    if(!strstr($r[url] ,"/public/getimg?url")){
                        $r[url] = "".$r[url]; 
                    } ?>
                    <li><div class="img-wrap"><a href="javascript:;" hidefocus="true"><img src="{thumb($r[url], 105, 155, 0)}" style="width:180px;height: 255px;" alt="{$r[alt]}" rel="{$r[url]}"/></a></div></li>
                    {/loop}
                </ul>
            </div>
            <a href="javascript:;" onclick="showpic('next')" class="next-bnt"><span></span></a>
            <div class="next picbig pager">
                {if !empty($next_page)}
                <a target="_self" class="zsxiaz" href="/cartoondetail{$next_page[id]}">下一话</a>
                {else}已经是最后一话了{/if}
            </div>
        </div>    
       
    </div>
    <div class="middle_div1">
        <div class="middle_div1_le" style="border:none;">
            <!-- <div class="ship">
                            <div class="ship_tit">
                                    <i class="icon"></i>
                                    <h3>看过此漫画的还看了视频</h3>   
                    <span><a href="#" target="_blank">更多>></a></span>    
                       </div>
               <div class="ship_txt">
                            <ul class="mod-pic1">
                                    <li><a target="_blank" title="源君物语" href="#"><img src="{IMG_PATH}img/u102_normal.png" alt=""><p>源君物语</p></a></li>
                                     <li><a target="_blank" title="给遙不可及的你" href="#"><img src="{IMG_PATH}img/u102_normal.png" alt=""><p>给遙不可及的你</p></a></li>
                                     <li><a target="_blank" title="源君物语" href="#"><img src="{IMG_PATH}img/u102_normal.png" alt=""><p>源君物语</p></a></li>
                                     <li><a target="_blank" title="给遙不可及的你" href="#"><img src="{IMG_PATH}img/u102_normal.png" alt=""><p>给遙不可及的你</p></a></li>
                         <li><a target="_blank" title="源君物语" href="#"><img src="{IMG_PATH}img/u102_normal.png" alt=""><p>源君物语</p></a></li>
                                     <li><a target="_blank" title="给遙不可及的你" href="#"><img src="{IMG_PATH}img/u102_normal.png" alt=""><p>给遙不可及的你</p></a></li>
                         
                      </ul>
               </div>
         </div> -->
            <div class="clear1"></div>
        </div>
    </div>
    <div class="middle_div1_ri">
        
        <div class="xh_man">
            <div class="rs_dm_tit">
                <h3>您可能会喜欢的漫画</h3>
            </div>

            <div class="xh_man_txt">
                <ul>
                    {php $where = "typeid='$manhua_typeid' AND status='99' AND id != $manhuaid"}
                    {pc:content action="table_list" table="Cartoon" fields="id,catid,title,thumb"  where="$where" order="views DESC" num="6"  }
                    {loop $data $r}
                    <li>
                        <a target="_blank" title="{$r[title]}" href="/manhua{$r[id]}"><img width=80 height=115 src="{thumb($r[thumb], 80, 115, 0)}"></a>
                        <a target="_blank" title="{$r[title]}" href="/manhua{$r[id]}">{str_cut($r[title],20,'')}</a>
                    </li>
                    {/loop}
                    {/pc}

                </ul>
            </div>
        </div>
    </div>
</div>
<a id="load_pic" style="display:none;" rel="{IMG_PATH}msg_img/loading_d.gif">
</a>
<script>var liulanqi = '{$liulanqi}';</script>
<script type="text/javascript" src="{JS_PATH}show_picture.js"></script>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}&type={$parameters}"></script>
{template "content","footer"}