<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link href="{CSS_PATH}css.css" rel="stylesheet" type="text/css" />

<style>
body{background:none;}
</style>
</head>
<body >
<div class="tt2">
	<div class="mh_copy1">
		{pc:content action="lists" CartoonID="$id" modelid="18"  status="99" order="id ASC" page="$page" num="24"}
			{loop $data  $val}
				<a title="{$val[title]}" target="_blank"  href="/dongman{$id}-{$val[id]}" onclick="window.external.DoViewCartoon('http://www.manhuacheng.com/dongman{$id}-{$val[id]}')">{str_cut(substr($val[title],stripos($val[title],'：')+3),24,'')}</a>	
			{/loop}
		{/pc}
	</div>
	<div class="ad02 page" id="search_fy"> 
		{if ($page<=1)}
			{php echo preg_replace('/(.*?)\/\?page=([0-9]+)/','$1_$2/',$pages)}
		{else}
			{php echo preg_replace('/([^-])_([0-9]+)\/\?page=([0-9]+)/','$1_$3/',$pages)}
		{/if}
	</div>
</div>

</body>
</html>