{__NOLAYOUT__}
<link type="text/css" rel="stylesheet" href="/Public/Common/js/uploadify/uploadify.css"/>
<div class="col-lg-12">
    <form method="post" action="" role="form" class="form-horizontal" name="add_form">
        <input type="hidden" value="{$info.id}" name="id">
        <div class="form-group">
            <label class="col-sm-2 control-label text-nowrap">名称：</label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" placeholder="请填写名称，最长10个字符" value="{$info.title}" maxlength="10" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-nowrap">排序：</label>
            <div class="col-sm-4">
                <input type="text" name="sort" class="form-control"  value="{$info.sort}" placeholder="纯数字，越小排越前面"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-nowrap">图片：</label>
            <div class="col-sm-10">
                <input id="photo_url" class="text" size="5"  type="file" value="上传" />
            </div>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label text-nowrap"></label>
            <div class="col-sm-10"  id="idcard_pic">
                <if condition="$info.pic_url neq ''">
                    <img style="width:135px;height: 50px" src="{$info.pic_url}" />
                    <input type="hidden" name="pic_url" value="{$info.pic_url}">
                </if>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-nowrap">描述：</label>
            <div class="col-sm-4">
                <textarea name="note" style="width: 400px; height: 125px;">{$info.note}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-nowrap">状态：</label>
            <div class="col-sm-10">
                <label><input type="radio" name="status" value="1" <neq name="info.status" value="0">checked</neq> /> 启用<input type="radio" name="status" value="0" <eq name="info.status" value="0">checked</eq>/> 暂停</label>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/Public/Common/js/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        uploadFile('photo_url','上传Logo');
    });
    function uploadFile(id,buttonText){
        $('#'+id).uploadify({
            auto: true,
            swf:'/Public/Common/js/uploadify/uploadify.swf',
            uploader: '{$Think.config.UPAIYUN_CONFIG.UPYUN_UPLOAD_URL}',
            buttonText: '选择文件并上传',
            width: '100',
            height: '50',
            fileTypeDesc: '图片文件',
            fileTypeExts: '*.jpg;*.png;*.gif',
            fileSizeLimit: '1MB',
            fileObjName: 'file',
            removeTimeout: 0,
            formData: {
                policy: '{$policy}',
                signature: '{$sign}'
            },
            overrideEvents: [ 'onDialogClose', 'onUploadError', 'onSelectError' ],
            onSelectError: function(file, errorCode, errorMsg){
                switch(errorCode) {
                    case -100:
                        alert("上传的文件数量已经超出系统限制的"+$('#'+id).uploadify('settings','queueSizeLimit')+"个文件！");
                        break;
                    case -110:
                        alert("文件 ["+file.name+"] 大小超出系统限制的"+$('#'+id).uploadify('settings','fileSizeLimit')+"大小！");
                        break;
                    case -120:
                        alert("文件 ["+file.name+"] 大小异常！");
                        break;
                    case -130:
                        alert("文件 ["+file.name+"] 类型不正确！");
                        break;
                }
            },
            onUploadSuccess: function(file, data, response){
                result = $.parseJSON(data); 
                //                console.log(result);
                $('#idcard_pic').html('<img style="width:135px;height: 50px" src="{$Think.config.UPAIYUN_CONFIG.UPYUN_URL}'+result.url+'" /><input type="hidden" name="pic_url" value="{$Think.config.UPAIYUN_CONFIG.UPYUN_URL}'+result.url+'">');
            },
            onUploadError: function(file, errorCode, errorMsg, errorString){
                alert('上传失败，请检查上传文件是否符合要求。1MB，jpg/gif/png');
            }
        });
    }
</script>
