{__NOLAYOUT__}
<div class="box_popup ">
    <!--<div class="tite"><b>用户下单</b><span class="tite_ops">x</span></div>-->
    <div class="bd small_wind textcen">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>您确认要为 张先生（手机139 8888 9999）</td>
            </tr>
            <tr>
                <td>购买 套餐1（很多产品）</td>
            </tr>
            <tr>
                <td>价格100000元/1年的产品</td>
            </tr>
            <tr>
                <td colspan="2" class="btnbox"><a href="#" class="adminbtn">确定 购买</a></td>
            </tr>
        </table>
    </div>
</div>  