<div class="bar_r">
    <div class="u_tle"><span class="side_l">充值</span></div>
    <div class="box_con">
        <p>
            <span class="side_l"><u class="fc_2">*</u>充值金额：</span>                    
            <select>
                <option>1000元</option>
                <option>3000元</option>
                <option>5000元</option>
                <option>8000元</option>
                <option>10000元</option>
                <option>1200元</option>
            </select>
        </p>
        <a class="btn" href="{$base_url}customer/gopay" target="_blank">确定充值</a>
    </div>
</div>