{__NOLAYOUT__}
<div id="navhljs1" class="navhl">
    <a class="navhl_h" onclick="jdhddh(this,0)" href="javascript:void(0);">限时竞价</a> 
    <a class="navhl_q" onclick="jdhddh(this,1)" href="javascript:void(0);">一口价</a> 
    <a class="navhl_q" onclick="jdhddh(this,2)" href="javascript:void(0);">买家询价</a> 
</div>
<div style="display: block;" class="list" id="navhljs1_c0">
    <div class="listtitle"><div class="listb_a">域名</div><div class="listb_b">当前价格</div><div class="listb_c">剩余时间</div></div>
    {:W('Sale/news_list',array('2'))}
</div>
<div style="display: none;" class="list" id="navhljs1_c1">
    <div class="listtitle"><div class="listb_a">域名</div><div class="listb_b">当前价格</div><div class="listb_c">剩余时间</div></div>
    {:W('Sale/news_list',array('1'))}
</div>
<div style="display: none;" class="list" id="navhljs1_c2">
    <div class="listtitle"><div class="listb_a">域名</div><div class="listb_b">当前价格</div><div class="listb_c">结束时间</div></div>
    {:W('Sale/news_list',array('3'))}
</div>