<div class="bar_r">
    <div class="u_tle"><span class="side_l">修改密码</span></div>
    <div class="box_con">
        <p><span class="side_l"><u class="fc_2">*</u>当前密码：</span><input class="inpt_txt" type="password" name="cpassword"/></p>
        <p><span class="side_l"><u class="fc_2">*</u>新密码：</span><input class="inpt_txt" type="password" name="password"/></p>
        <p><span class="side_l"><u class="fc_2">*</u>当前密码：</span><input class="inpt_txt" type="password" name="repassword" value=""/></p>
        <a class="btn" href="javascript:uppass();">保 存</a>
    </div>
</div>
<script>
    function uppass(){
        var msg='';
        var cpass= $('input[name=cpassword]').val();
        var pass= $('input[name=password]').val();
        var repass= $('input[name=repassword]').val();
        if(pass ==''||repass==''||cpass==''){
            msg = '请输入密码';
        }
        if(pass !=repass){
            msg = '两次密码输入不同';
        }
        if(msg){
            layer.msg(msg, 2, 3);
        }else{
            $.ajax({
                type: "post",
                url: "{$base_url}account/password",
                dataType:"json",
                data: "cpass="+cpass+"&pass"+pass,
                success: function(data){
                    if(data.s=="0"){
                        layer.msg(data.m, 2, 3);
                    }else{
                        layer.msg(data.m, 2, 1);
                    }
                }
            }); 
        }
        
    }
</script>