<!--面包屑 开始-->
<div class="crumbs">
    <em>您的位置：</em>
    <a href="{:getDoMain()}" class="crumbs_c">首页</a>
    <span>></span>
    <i>域名委托申请</i>
</div>
<!--面包屑 结束-->
<!--主体内容 开始-->
<div class="wrap">
    <!--左侧 开始-->
    <div class="wrap_l jj_yk">
        <div class="title">
            <h3 class="titleh3">代售申请</h3>
        </div>
        <div class="doma">
            <form name="form_purchase" action="" method="post">
                <input type="hidden" name="role" value="1">
                <ul class="apply">
                    <li>
                        <span>代售域名</span><input type="text" value="{$Think.get.domain}" class="list_ctxt_a" name="domain" placeholder="请输入代售域名" datatype="*" errormsg="代售域名不正确" sucmsg=" " nullmsg="请输入代售域名">
                    </li>
                    <li>
                        <span>预算费用</span><input type="text" value="{$Think.get.pay_price}" class="list_ctxt_a" name="pay_price" placeholder="请输入预算费用" datatype="n" errormsg="预算费用不正确" sucmsg=" " nullmsg="请输入预算费用">
                    </li>
                    <li>
                        <span>手续费</span><div class="price">300元</div>
                    </li>
                    <li>
                        <span>您的称呼</span><input type="text" class="list_ctxt_a" name="contacts" value="{$profile.realname}" placeholder="请输入真实姓名" datatype="*" errormsg="真实姓名不准确" sucmsg=" " nullmsg="请输入真实姓名">
                    </li>
                    <li>
                        <span>您是手机</span><input type="text" class="list_ctxt_a" name="mobile" value="{$profile.mobile}" placeholder="请输入手机号码" datatype="m" errormsg="手机号码不正确" sucmsg=" " nullmsg="请输入手机号码">
                    </li>
                    <li>
                        <span>您的QQ</span><input type="text" class="list_ctxt_a" name="qq" value="{$profile.qq}" placeholder="请输入QQ地址" datatype="n" errormsg="QQ格式不正确" sucmsg=" " nullmsg="请输入QQ">
                    </li>
                    <li>
                        <span>您的邮箱</span><input type="text" class="list_ctxt_a" name="email" value="{$profile.email}" placeholder="请输入邮箱地址" datatype="e" errormsg="邮箱格式不正确" sucmsg=" " nullmsg="请输入邮箱地址">
                    </li>
                    <li>
                        <span>其它备注</span><textarea class="list_ctxt_g" name="message"></textarea>
                    </li>
                    <li>
                        <span></span>
                        <div class="doma_d_b">
                            <input type="checkbox" checked="checked"><span>我已同意米仓网域名代购协议</span>
                        </div>
                    </li>
                    <input type="submit" value="确认提交" class="list_submit list_submit_marg">
                </ul>
            </form>
        </div>
    </div>
    <div class="wrap_r">
        <div class="tabbox_b">
            <div class="navhl_b">
                <div class="navhl_b_title case">成功代售案例</div> 
            </div>
            <div class="list_b">
                <ul>
                    <volist name="data" id="item">
                        <li>
                            <div class="listb_a"><a class="listent_b" title="" href="javascritp:;">{$item.uptime|date="y年m月d日",###}</a></div>
                            <div class="listb_b"><a class="listent_c" title="" href="javascritp:;">成功代售域名</a></div>
                            <div class="listb_c"><a class="listent_d" title="" href="javascritp:;">{$item.domain}</a></div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--主体内容 结束-->

<style type="text/css">
    .Validform_checktip.Validform_wrong{color:red; margin-left:10px;padding:0px;}
    .doma .apply li span {
        width:100px;
    }
</style>
<script type="text/javascript" src="/Public/Common/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="/Public/Common/js/Validform_Datatype.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('form[name="form_purchase"]').Validform({
            tiptype:3,
            beforeSubmit: function(curform){
                var msg ='';
                if($(':input[name=pay_price]').val()<500){
                    msg='预算费用不能低于500';
                }
                if (!$(':input[type="checkbox"]').prop('checked')){
                    msg='需要同意米仓网域名代购协议';
                }
                if(msg!=''){
                    layer.msg(msg);
                    return false;
                }else{
                    curform.find(':submit').prop('disabled', true);
                    $.post(curform.attr('action'), curform.serialize(), function(result){
                        curform.find(':submit').prop('disabled', false);
                        if(result.status==200 && !result.mid){
                            layer.alert('代购号码：'+ result.id+'&nbsp;&nbsp;查询密码：'+result.password,function(){ 
                                location.reload();
                            });
                        }else if(result.status==200){
                            layer.alert(result.message,function(){ 
                                location.reload();
                            });
                        }else{
                            layer.msg(result.message);
                        }
                        
                    });
                    return false;
                }
            }
        });
    });
</script>