<!--公告-->
<?php include $blocks['showAffiche']; ?>
<!--end 公告-->
<!--推荐文章-->       
<?php include $blocks['recommend']; ?>
<!--end 推荐文章-->
<!--我的标签-->     
<?php include $blocks['taglist']; ?>
<!--end 我的标签-->  
<!--共同关系-->
<?php include $tmp_jointly; ?>
<!--end 共同关系-->
<!--我的粉丝-->
<?php include $blocks['fanslist']; ?>
<!--end 我的粉丝-->
<!--访问统计-->
<?php include $blocks['showStat']; ?>
<!--end 访问统计-->
<!--最近访客-->
<?php include $blocks['show_renewvisitor']; ?>
<!--end 最近访客-->
<!--最新评论-->
<?php include $blocks['show_newestcomment']; ?>
<!--end 最新评论-->