{__NOLAYOUT__}
<table class="table table-condensed">
  <thead>
  <tr>
    <th>消费类型</th>
    <th>金额</th>
    <th>时间</th>
    <th>备注</th>
  </tr>
  </thead>
  <tbody>
    <volist name="page.data" id="item">
      <tr>
        <td>
          <switch name="item.type">
            <case value="register">域名注册</case>
            <case value="renew">域名续费</case>
            <case value="penalty">交易违约金</case>
            <case value="push">域名PUSH接收</case>
            <case value="price">一口价交易</case>
            <case value="bidding">拍卖交易</case>
            <case value="inquiry">询价交易</case>
          </switch>
        </td>
        <td>{$item['money']/100|number_format=###,2}</td>
        <td>{$item.time|date='Y-m-d H:i:s',###}</td>
        <td>{$item.content}</td>
      </tr>
    </volist>
  </tbody>
</table>
{$page.html}