<ol class="breadcrumb" style="border-radius: 0px;">
    <li><i class="fa fa-home fa-fw"></i> 当前位置：总管理后台</li>
    <li>域名管理</li>
    <li class="active">域名列表</li>
</ol>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading"><h6 class="panel-title">筛选</h6></div>
                <div class="panel-body">
                    <form method="get" action="" role="form" class="form-inline" name="filter_form">
                        <div class="form-group">
                            <label>名称：</label>
                            <input type="text" name="title" class="form-control" placeholder="名称" value="{$Think.get.title}" />
                        </div>
                        <div class="form-group">
                            <label>状态：</label>
                            <select name="status" class="form-control">
                                <option value="" <empty name="Think.get.status">selected</empty>>不限制</option>
                                <option value="0" <eq name="Think.get.status" value="0">selected</eq>>未审核</option>
                                <option value="1" <eq name="Think.get.status" value="1">selected</eq>>通过</option>
                                <option value="2" <eq name="Think.get.status" value="2">selected</eq>>未通过</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-search fa-fw"></i>&nbsp;搜 索</button>
                    </form>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>实名认证状态</th>
                        <th width="150">模版名称</th>
                        <th width="80">模版类型</th>
                        <th width="80">所有人</th>
                        <th width="100">授权域名数</th>
                        <th width="70">状态</th>
                        <th width="120">操作</th>
                    </tr>
                </thead>
                <tbody>
                <volist name="page.data" id="item">
                    <tr>
                        <td>{$item.id}</td>
                        <td>{$item.mid|getUserNameByMid}</td>
                        <td>{$item.mid|getUserAuthStatusByMid}</td>
                        <td>{$item.title}</td>
                        <td>{$item['reg_contact_type']?'组织':'个人'}</td>
                        <td>{$item.cn_reg_firstname}{$item.cn_reg_lastname}</td>
                        <td>{$item.mid|countMemberDomain}</td>
                        <td>
                    <if condition="$item.status eq '1' ">通过
                        <elseif condition="$item.status eq '0'"/>未审核
                        <elseif condition="$item.status eq '2'"/>未通过
                        <else />未验证
                    </if>
                    </td>
                    <td>
                        <a href="{:U('Domain/check_template')}&id={$item.id}&type={$item.type}" title="审核模板" data-btn="btn_template_check"><i class="fa fa-users fa-fw"></i></a>&nbsp;
                        <a href="{:U('Domain/template_status')}&id={$item.id}&status=2" title="拒绝通过" data-btn="btn_delete"><i class="fa fa-times fa-fw"></i></a>&nbsp;
                    </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <nav class="text-right">{$page.html}</nav>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        //筛选
        $('form[name="filter_form"]').on('submit', function(e){
            e.preventDefault();
            var query = "{:U('Domain/template')}";
            if ($(':input[name="title"]').val() != ''){
                query += '&title=' + $(':input[name="title"]').val();
            }
            if ($('select[name="status"]').val() != ''){
                query += '&status=' + encodeURI($('select[name="status"]').val());
            }
            window.location = query;
            return false;
        });
        $('a[data-btn="btn_template_check"]').on('click', function(e){
            var that = this;
            e.preventDefault();
            BootstrapDialog.show({
                draggable: true,
                title: '审核模板',
                message: function(dialog){
                    return $('<div></div>').addClass('row').load($(that).attr('href'));
                },
                buttons: [{
                        label: BootstrapDialog.DEFAULT_TEXTS.OK,
                        action: function(dialog) {
                            //发送ajax请求
                            $.post($(that).attr('href'), $('form[name="add_form"]').serialize(), function(result){
                                if (result.status != 200){
                                    BootstrapDialog.alert(result.message);
                                }else{
                                    window.location.reload(true);
                                }
                            });
                        }
                    }]
            });
            return false;
        });
    });
   
    $('a[data-btn="btn_delete"]').on('click', function(e){
        e.preventDefault();
        var that = this;
        BootstrapDialog.confirm('确认拒绝通过吗？此操作不可恢复！', function(result){
            if (result == true){
                $.getJSON($(that).attr('href'), function(data){
                    if (data.status == 500){
                        BootstrapDialog.alert(data.message);
                    }else if (data.status == 200){
                        window.location.reload(true);
                    }
                });
            }
        });
        return false;
    });
</script>