<script type="text/javascript" src="/Public/Common/js/kindeditor/kindeditor-all-min.js"></script>
<link type="text/css" rel="stylesheet" href="/Public/Common/js/kindeditor/themes/default/default.css"/>
<script type="text/javascript">
    var editor;
    KindEditor.ready(function(K) {
        editor =K.create('textarea[edit="true"]', {
            autoHeightMode : true,
            allowPreviewEmoticons : false,
            urlType : 'absolute',
            allowUpload : false, //允许上传图片
            uploadJson : '/public/upload_img',
            filterMode:false,
            afterCreate : function() {
                this.loadPlugin('autoheight');
            }
        });
    });
</script>
<script type="text/javascript">
</script>
<div class="admin-content">
    <ol class="am-breadcrumb am-breadcrumb-slash" style="padding-bottom: 0;">
        <li><a href="/" class="am-icon-home">首页</a></li>
        <li><a href="/news">新闻内容</a></li>
        <li class="am-active">详情</li>
    </ol>
    <form id="add_from" method="post" action="__SELF__">
        <input type="hidden" class="am-form-field am-input-sm" name="id" value="{$info.id}">
        <div class="am-margin">
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">基本信息</a></li>
            </ul>
            
            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            标题
                        </div>
                        <div class="am-u-sm-6">
                            <input type="text" class="am-form-field am-input-sm" name="title" value="{$info.title}">
                        </div>
                        <div class="am-u-sm-4">*必填</div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            分类{$info.type_id}
                        </div>
                        <div class="am-u-sm-6">
                            <select name="type_id" class="am-form-field am-input-sm">
                                <option value="0">全部</option>
                                <foreach name="types" item="item">
                                    <option value="{$item.id}" <eq name="item.id" value="$info.type_id">selected="true"</eq> >{$item.name}</option>
                                    <if condition="count($item.subs)">
                                        <foreach name="item.subs" item="temp">
                                            <option value="{$temp.id}" <eq name="temp.id" value="$info.type_id">selected="true"</eq> >--{$temp.name}</option>
                                        </foreach>
                                    </if>

                                </foreach>
                            </select>
                        </div>
                        <div class="am-u-sm-4">*必填</div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            关键字
                        </div>
                        <div class="am-u-sm-6">
                            <input type="text" class="am-form-field am-input-sm" name="keyword" value="{$info.keyword}">
                        </div>
                        <div class="am-u-sm-4">*必填</div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            排序
                        </div>
                        <div class="am-u-sm-6">
                            <input type="text" class="am-form-field am-input-sm" name="order_id" value="{$info.order_id}">
                        </div>
                        <div class="am-u-sm-4">*必填</div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            内容
                        </div>
                        <div class="am-u-sm-10">
                            <textarea name="content" edit="true" id="content" class="am-form-field">{$info.content}</textarea>
                        </div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            简介
                        </div>
                        <div class="am-u-sm-10">
                            <textarea name="desc" maxlength="140" id="desc" placeholder="新闻简介140字" class="am-form-field">{$info.desc}</textarea>
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            更新时间
                        </div>
                        <div class="am-u-sm-6">
                            <input type="text" class="am-form-field am-input-sm" name="add_time" value="{$info.add_time}">
                        </div>
                        <div class="am-u-sm-4">*必填</div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">最热</div>
                        <div class="am-u-sm-10">
                            <div class="am-btn-group" data-am-button>
                                <label class="am-btn am-btn-default am-btn-xs <eq name="info.is_hot" value="1"> am-active</eq>">
                                    <input type="radio" name="is_hot" value="1" <eq name="info.is_hot" value="1"> checked="checked"</eq> id="option1"> Yes
                                </label>
                                <label class="am-btn am-btn-default am-btn-xs <eq name="info.is_hot" value="0"> am-active</eq>">
                                    <input type="radio" name="is_hot" value="0" <eq name="info.is_hot" value="0"> checked="checked"</eq> id="option3"> No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">显示状态</div>
                        <div class="am-u-sm-10">
                            <div class="am-btn-group" data-am-button>
                                <label class="am-btn am-btn-default am-btn-xs <eq name="info.is_hide" value="1"> am-active</eq>">
                                    <input type="radio" name="is_hide" value="1" <eq name="info.is_hide" value="1"> checked="checked"</eq> id="option1"> Yes
                                </label>
                                <label class="am-btn am-btn-default am-btn-xs <eq name="info.is_hide" value="0"> am-active</eq>">
                                    <input type="radio" name="is_hide" value="0" <eq name="info.is_hide" value="0"> checked="checked"</eq> id="option3"> No
                                </label>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="am-margin">
                <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                <button type="button" onclick="window.history.back();" class="am-btn am-btn-primary am-btn-xs">返回</button>
            </div>
        </div>
    </form>
</div>