<include file="Public:forget_header" />

<div class="main">
  <div class="wrap">
    <div class="reg_titbar"><span class="tit"></span></div>    
    <div class="box clearfix">
      <ul class="box-ul clearfix">
        <li class="one-mo"><a class="current">1.输入登录名</a></li>
        <li class="two_cur"><a class="current">2.信息确认</a></li>
        <li class="three_cur"><a class="current">3.重置密码</a></li>
        <li class="four_cur"><a class="current">4.密码修改成功</a></li>
      </ul>
      
      <div class="suc_tip">
            <h3>{$msg}</h3>
            <div class="aCenter">您现在可以：<a href="/login/" class="cBlue">重新登录</a>&nbsp;&nbsp;<a href="/"  class="cBlue">返回首页</a></div>
      </div>


      <div class="tishi">
        <p>. 忘记帐号？试试您的常用邮箱、用户名。<br>
          · 如果该电子邮箱地址不正确，或者您已经忘记注册时填写的邮箱地址，那我们无法帮您找回密码，建议创建一个新帐户。<br>
        </p>
      </div>
    </div>
  </div>
</div>



<include file="Public:forget_footer" />