{template "content","header"}
<!--main-->
    <div class="zjgx">
    	<div class="zjgx_tit">
        	<i class="icon"></i>
            <h3>最近更新</h3>
        </div>
        <div class="zjgx_txt">
        	<div class="tp_n">
           <div class="slidePre1" id="slidePre1"></div>
            <dl>
              <dt class="img1"><a href="#"> <img src="{IMG_PATH}img/u174_normal.png"></a></dt>
              <dd><a href="#" target="_blank">蜡笔小新</a></dd>
            </dl>
            <dl>
              <dt class="img1"><a href="#"> <img src="{IMG_PATH}img/u174_normal.png"></a></dt>
              <dd><a href="#" target="_blank">蜡笔小新</a></dd>
            </dl>
            <dl>
              <dt class="img1"><a href="#"> <img src="{IMG_PATH}img/u174_normal.png"></a></dt>
              <dd><a href="#" target="_blank">蜡笔小新</a></dd>
            </dl>
            <dl>
              <dt class="img1"><a href="#"> <img src="{IMG_PATH}img/u174_normal.png"></a></dt>
              <dd><a href="#" target="_blank">蜡笔小新</a></dd>
            </dl>
            <dl>
              <dt class="img1"><a href="#"> <img src="{IMG_PATH}img/u174_normal.png"></a></dt>
              <dd><a href="#" target="_blank">蜡笔小新</a></dd>
            </dl>
            <dl>
              <dt class="img1"><a href="#"> <img src="{IMG_PATH}img/u174_normal.png"></a></dt>
              <dd><a href="#" target="_blank">蜡笔小新</a></dd>
            </dl>
            <dl>
              <dt class="img1"><a href="#"> <img src="{IMG_PATH}img/u174_normal.png"></a></dt>
              <dd><a href="#" target="_blank">蜡笔小新</a></dd>
            </dl>          
            <div class="slideNext1" id="slideNext1"></div>
     	 </div>
         <div class="xian"></div>
         <div class="clear1"></div>
         <div class="sj">
         	<span>最新上架</span><a href="#" target="_blank">熊出没之环球大冒险</a><a href="#" target="_blank">七龙珠Z国语版</a><a href="#" target="_blank">名侦探柯南</a><a href="#" target="_blank">哆啦A梦</a><a href="#" target="_blank">蜡笔小新</a><a href="#" target="_blank">熊出没</a><a href="#" target="_blank">托马斯和他的朋友们</a><a href="#" target="_blank">恶魔奶爸</a><a href="#" target="_blank">花园宝宝</a><a href="#" target="_blank">十万个冷笑</a><a href="#" target="_blank" style="color:#0000FF;">更多</a>
         </div>
         <div class="sj">
         	<span>完结漫画</span><a href="#" target="_blank">熊出没之环球大冒险</a><a href="#" target="_blank">七龙珠Z国语版</a><a href="#" target="_blank">名侦探柯南</a><a href="#" target="_blank">哆啦A梦</a><a href="#" target="_blank">蜡笔小新</a><a href="#" target="_blank">熊出没</a><a href="#" target="_blank">托马斯和他的朋友们</a><a href="#" target="_blank">恶魔奶爸</a><a href="#" target="_blank">花园宝宝</a><a href="#" target="_blank">十万个冷笑</a><a href="#" target="_blank" style="color:#0000FF;">更多</a>
         </div>
         <div class="sj" style="border-bottom:none;">
         	<span>连载漫画</span><a href="#" target="_blank">熊出没之环球大冒险</a><a href="#" target="_blank">七龙珠Z国语版</a><a href="#" target="_blank">名侦探柯南</a><a href="#" target="_blank">哆啦A梦</a><a href="#" target="_blank">蜡笔小新</a><a href="#" target="_blank">熊出没</a><a href="#" target="_blank">托马斯和他的朋友们</a><a href="#" target="_blank">恶魔奶爸</a><a href="#" target="_blank">花园宝宝</a><a href="#" target="_blank">十万个冷笑</a><a href="#" target="_blank" style="color:#0000FF;">更多</a>
         </div>
        </div>
    </div>
    <div class="middle_div1">
    	<div class="middle_div1_le" style="border:none;">
        	<div class="today">
                	<div class="today_tit">
                    	 <span><a href="#" target="_blank">少年热血</a>&nbsp;|&nbsp;<a href="#" target="_blank">武侠格斗</a>&nbsp;|&nbsp;<a href="#" target="_blank">少女爱情</a>&nbsp;|&nbsp;<a href="#" target="_blank">科幻魔幻</a>&nbsp;|&nbsp;<a href="#" target="_blank">竞技体育</a>&nbsp;|&nbsp;<a href="#" target="_blank">BL</a><a href="#" style="padding-left:15px; color:#0000FF;">更多&gt;&gt;</a></span>
                    	<ul>                
                        	<li class="" onmouseover="changeTab(5,0)"><strong>今日漫画</strong></li>                <li class="on" onmouseover="changeTab(5,1)"><strong>最新章节</strong></li>  
                                 
                        </ul>
                    </div>
                    <div class="today_txt">
                    	<ul style="display:block">
                        	<li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                        </ul>
                        <ul style="display:none">
                        	<li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="today1">
                	<div class="today1_tit">
                    	<ul>                
                        	<li class="on" onmouseover="changeTab(5,0)"><strong>日 韩</strong></li>                <li class="" onmouseover="changeTab(5,1)"><strong>港 台</strong></li>   <li class="" onmouseover="changeTab(5,2)"><strong>欧 美</strong></li>                <li class="" onmouseover="changeTab(5,3)"><strong>大 陆</strong></li>   
                        </ul>
                    </div>
                    <div class="today1_txt">
                    	<ul class="today1_txt1">
                        	<li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                        </ul>
                        <ul class="today1_txt2">
                        	<li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li style="border-right:none"><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li style="border-right:none"><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                            <li style="border-right:none"><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                            <li style="border-right:none"><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能</a></li>
                            <li style="border-right:none"><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="middle_div1_ri">
        	<div class="eveday">
            	<div class="eveday_tit"><h3>每日更新</h3></div>
                <div class="eveday_txt">
                	<div class="eveday_txt_l">
                    	<ul>
                        	<li class="on" onmouseover="changeTab(7,0)"><strong>一</strong></li> 
                            <li class="" onmouseover="changeTab(7,1)"><strong>二</strong></li> 
                            <li class="" onmouseover="changeTab(7,2)"><strong>三</strong></li> 
                            <li class="" onmouseover="changeTab(7,3)"><strong>四</strong></li> 
                            <li class="" onmouseover="changeTab(7,4)"><strong>五</strong></li> 
                            <li class="" onmouseover="changeTab(7,5)"><strong>六</strong></li> 
                            <li class="" onmouseover="changeTab(7,6)"><strong>七</strong></li> 
                        </ul>
                    </div>
                    <div class="eveday_txt_r">
                    	<ul>
                            <li><a href="#">探险托里兰托</a></li>
                            <li><a href="#">火影忍者522集「恐怖·」</a></li>
                            <li><a href="#">探险托里兰托</a></li>
                            <li><a href="#">火影忍者522集「蒸危暴威!!」</a></li>
                            <li><a href="#">火影忍者522集「恐威!!」</a></li>
                            <li><a href="#">探险托里兰托</a></li>
                            <li><a href="#">火影忍者522集「恐蒸危暴威!!」</a></li>
                            <li><a href="#">火影忍者522集暴威!!」</a></li>
                            
                       </ul>
                    </div>
                </div>
            </div>
            <div class="jiebao">
                	<div class="jiebao_tit">  
                        <span><a href="#">更多&gt;&gt;</a></span>
                    	<ul>                
                        	<li onmouseover="changeTab(5,0)" class="on"><strong>漫画捷报</strong></li>      
                        </ul>
                    </div>
                    <div class="jiebao_txt">
                    	<ul>
                        	<li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a target="_blank" href="#">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                        </ul>
                    </div>
                </div>
                <div class="rs_dm">
            	<div class="rs_dm_tit"><h3>漫画人气排行榜</h3></div>
                <div class="rs_dm_txt">
                	<ul>
                    	<li><i class="first">1</i><a href="#">火影忍者</a></li>
                        <li><i class="second">2</i><a href="#">海贼王</a></li>
                        <li><i class="third">3</i><a href="#">邪恶漫画合集...</a></li>
                        <li><i>4</i><a href="#">死神</a></li>
                        <li><i>5</i><a href="#">妖精的尾巴</a></li>
                        <li><i>6</i><a href="#">人鱼公主传（...</a></li>
                        <li><i>7</i><a href="#">邪恶漫画期刊</a></li>
                        <li><i>8</i><a href="#">梦龙Y传(色...</a></li>
                        <li><i>9</i><a href="#">弟弟想当哥哥的情人</a></li>
                        <li style="border-bottom:none;"><i>10</i><a href="#">保健室的秘密</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear1"></div>
    <div class="dongman1">
                	<div class="dongman1_tit">
                    	<ul>                
                        	<li onmouseover="changeTab(9,0)" class="on"><strong>少年热血</strong></li>                <li onmouseover="changeTab(9,1)" class=""><strong>武侠格斗</strong></li>                <li onmouseover="changeTab(9,2)" class=""><strong>少女爱情
</strong></li>                <li onmouseover="changeTab(9,3)" class=""><strong>科幻魔幻</strong></li>                 <li onmouseover="changeTab(9,4)" class=""><strong>竞技体育</strong></li>                <li onmouseover="changeTab(9,5)" class=""><strong>搞笑喜剧</strong></li>                <li onmouseover="changeTab(9,6)" class=""><strong>搞笑喜剧</strong></li>   <li onmouseover="changeTab(9,7)" class=""><strong>恐怖灵异</strong></li>    <li onmouseover="changeTab(9,8)" class=""><strong>耽美BL</strong></li>  
                                
                        </ul>
                    </div>
                    <div class="dongman1_txt">
                    	<ul class="dongman1_txt1">
                        	<li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                        </ul>
                        <ul class="dongman1_txt2">
                        	<li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季P</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li style="border-right:none"><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季PV2</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季P</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li style="border-right:none"><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季PV2</a></li><li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季P</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li style="border-right:none"><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季PV2</a></li><li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季P</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li style="border-right:none"><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季PV2</a></li><li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季P</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li style="border-right:none"><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季PV2</a></li><li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季P</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li style="border-right:none"><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可季PV2</a></li>
                        </ul>
                    </div>
                </div>
{template "content","footer"}