{template "content","header"}
<!--main-->
    <div class="content">
    	<div class="home_banner">
        	<div class="home_banner_le"><img src="{IMG_PATH}img/banner.jpg" height="300" width="680" /></div>
            <div class="home_banner_ri">
            	<div class="about_soft">软件版本：2012正式版（2.0.0.15）<br>
    			  更新时间：2012-05-02<br>
    			  文件大小：1.70MB<br>
     			  支持系统：XP/2003/Vista/2008/Win7<br>
      			<div class="download"><a target="_blank" href="#"></a></div>
   			</div>
            </div>
        </div>
        <div class="clear1"></div>
        <div class="zuijin">
        	<div class="zuijin_tit">
            	<i class="icon"></i>
            	<h3>最近更新</h3>
                <span><a href="#" target="_blank">更多>></a></span> 
                <ul>
                	<li><a href="#" target="_blank">少年热血</a></li><li><a href="#" target="_blank">武侠格斗</a></li><li><a href="#" target="_blank">少女爱情</a></li><li><a href="#" target="_blank">科幻魔幻</a></li><li><a href="#" target="_blank">竞技体育</a></li><li><a href="#" target="_blank">搞笑喜剧</a></li><li><a href="#" target="_blank">侦探推理</a></li><li><a href="#" target="_blank">恐怖灵异</a></li><li><a href="#" target="_blank">耽美BL</a></li>
                </ul>    
                           
            </div>
            <div class="zuijin_txt">
            	<ul class="mod-pic">
                	<li><a target="_blank" title="源君物语" href="#"><img width="105" height="150" src="{IMG_PATH}img/u161_normal.png" alt=""><span>第71话</span><em>源君物语</em></a></li>
                    <li><a target="_blank" title="给遙不可及的你" href="#"><img width="105" height="150" src="{IMG_PATH}img/u99_normal.png" alt=""><span>第71话</span><em>给遙不可及的你</em></a></li>
                    <li><a target="_blank" title="海贼王" href="#"><img width="105" height="150" src="{IMG_PATH}img/u99_normal.png" alt=""><span>第71话</span><em>海贼王</em></a></li>
                    <li><a target="_blank" title="火影忍者" href="#"><img width="105" height="150" src="{IMG_PATH}img/u99_normal.png" alt=""><span>第71话</span><em>火影忍者</em></a></li>
                    <li><a target="_blank" title="最浪漫的事" href="#"><img width="105" height="150" src="{IMG_PATH}img/u99_normal.png" alt=""><span>第71话</span><em>最浪漫的事</em></a></li>
                    <li><a target="_blank" title="火影忍者" href="#"><img width="105" height="150" src="{IMG_PATH}img/u99_normal.png" alt=""><span>第71话</span><em>火影忍者</em></a></li>
                    <li><a target="_blank" title="海贼王" href="#"><img width="105" height="150" src="{IMG_PATH}img/u99_normal.png" alt=""><span>第71话</span><em>海贼王</em></a></li>
                    
                </ul>
            </div>
        </div>
        <div class="middle_div">
        	<div class="middle_div_le">
            	<div class="xl">
                	<div class="xl_le">
                    	<h3><a href="#" target="_blank">漫画城  >></a></h3>
                        <p class="rm">
                        	<a href="#" target="_blank" style="color:#FF0000;">热门连载</a>	<a href="#" target="_blank" style="color:#FF0000;">完结漫画</a>	<a href="#" target="_blank">少年热血</a>	<a href="#" target="_blank">武侠格斗</a>	<a href="#" target="_blank">少女爱情</a>	<a href="#" target="_blank">科幻魔幻</a>	<a href="#" target="_blank">竞技体育</a>	<a href="#" target="_blank">搞笑喜剧</a>	<a href="#" target="_blank">侦探推理</a>	<a href="#" target="_blank">恐怖灵异</a>	<a href="#" target="_blank">耽美BL</a>
                        </p>
                        <p class="dq">
                        	<a href="#" target="_blank">日韩</a>	<a href="#" target="_blank">港台</a>	<a href="#" target="_blank">欧美</a>	<a href="#" target="_blank">大陆</a>
                        </p>
                    </div>
                    <div class="xl_le">
                    	<h3><a href="#" target="_blank">动漫城  >></a></h3>
                        <p class="rm">
                        	<a href="#" target="_blank" style="color:#FF0000;">热门连载</a>	<a href="#" target="_blank" style="color:#FF0000;">完结漫画</a>	<a href="#" target="_blank">少年热血</a>	<a href="#" target="_blank">武侠格斗</a>	<a href="#" target="_blank">少女爱情</a>	<a href="#" target="_blank">科幻魔幻</a>	<a href="#" target="_blank">竞技体育</a>	<a href="#" target="_blank">搞笑喜剧</a>	<a href="#" target="_blank">侦探推理</a>	<a href="#" target="_blank">恐怖灵异</a>	<a href="#" target="_blank">耽美BL</a>
                        </p>
                        <p class="dq">
                        	<a href="#" target="_blank">日韩</a>	<a href="#" target="_blank">港台</a>	<a href="#" target="_blank">欧美</a>	<a href="#" target="_blank">大陆</a>
                        </p>
                    </div>
                </div>
                <div class="today">
                	<div class="today_tit">
                    	 <span><a href="#">更多>></a></span>
                    	<ul>                
                        	<li onmouseover="changeTab(5,0)" class=""><strong>今日漫画</strong></li>                <li onmouseover="changeTab(5,1)" class="on"><strong>最新章节</strong></li>  
                                 
                        </ul>
                    </div>
                    <div class="today_txt">
                    	<ul style="display:block">
                        	<li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                        </ul>
                        <ul style="display:none">
                        	<li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                                <p>类型：搞笑喜剧</p>
                                <p>内地 连载</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="today1">
                	<div class="today1_tit">
                    	<span><a href="#">更多>></a></span>  
                    	<ul>                
                        	<li onmouseover="changeTab(5,0)" class="on"><strong>完结漫画</strong></li>                <li onmouseover="changeTab(5,1)" class=""><strong>连载漫画</strong></li>     
                        </ul>
                    </div>
                    <div class="today1_txt">
                    	<ul class="today1_txt1">
                        	<li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                            <li>
                            	<a href="#" target="_blank"><img src="{IMG_PATH}img/u33_normal.png" /></a>
                                <a href="#" target="_blank">海贼王</a>
                            </li>
                        </ul>
                        <ul class="today1_txt2">
                        	<li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">美食的俘虏96</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a href="#" target="_blank">03.17</a></span><a href="#" target="_blank">我的妹妹不可能那么可爱第二季PV2</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="middle_div_ri">
            	<div class="manhua">
                	<div class="manhua_tit"><h3>漫画热搜榜</h3></div>
                    <div class="manhua_txt">
                      <ul static="1600&amp;tn=indsa&amp;bl=index_top_search&amp;stp=tab" class="tang-title" id="TANGRAM$4__title">
                        <li class="tang-title-item tang-title-item-selected"><a hidefocus="true" href="javascript:;">全部</a><div class="jiantou"></div></li>
						<li class="tang-title-item first"><a hidefocus="true" href="javascript:;">今日</a><div class="jiantou"></div>
</li>
						<li class="tang-title-item first"><a hidefocus="true" href="javascript:;">本周</a><div class="jiantou"></div>
</li>
						<li class="tang-title-item first"><a hidefocus="true" href="javascript:;">本月</a><div class="jiantou"></div>
</li>					
					</ul>
                    <div class="tang-body-item tang-body-item-selected">
				
<ol monkey="index_top_all_total_list4" id="index_top_all_total_list4" class="top-list-all">
																										<li static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;no=1&amp;to=search" class="poster">
				<dl>
					<dt>
						<a static="stp=po" target="_blank" href="http://video.baidu.com/comic_intro/?id=1410&amp;page=1&amp;frp=browse">
							<img src="http://list.video.baidu.com/imgs/11/0826bang.jpg">
							<span class="poster-no"></span>
						</a>
					</dt>
					<dd class="poster-title">
						<a static="stp=ti" title="火影忍者" target="_blank" href="http://video.baidu.com/comic_intro/?id=1410&amp;page=1&amp;frp=browse">火影忍者</a>
						<span class="trend down"></span>
					</dd>
					<dd class="poster-brief">一个忍者的世界</dd>
											<dd class="poster-info">7.7&nbsp;万</dd>
									</dl>
			</li>
																															<li static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=2&amp;to=search" class="list  list-2">
				<a d-type="cartoon" title="海贼王" target="_blank" href="http://video.baidu.com/comic_intro/?id=4601&amp;page=1&amp;frp=browse">
					<span class="list-no topthree">2</span>
					<span class="list-title">海贼王</span>
											<span class="list-info">4.6&nbsp;万</span>
										<span class="trend rise"></span>
				</a>
			</li>
																															<li static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=3&amp;to=search" class="list ">
				<a d-type="cartoon" title="啦啦啦德玛西亚" target="_blank" href="http://video.baidu.com/comic_intro/?id=6751&amp;page=1&amp;frp=browse">
					<span class="list-no topthree">3</span>
					<span class="list-title">啦啦啦德玛西亚</span>
											<span class="list-info">2.6&nbsp;万</span>
										<span class="trend rise"></span>
				</a>
			</li>
																															<li static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=4&amp;to=search" class="list ">
				<a d-type="cartoon" title="名侦探柯南" target="_blank" href="http://video.baidu.com/comic_intro/?id=847&amp;page=1&amp;frp=browse">
					<span class="list-no ">4</span>
					<span class="list-title">名侦探柯南</span>
											<span class="list-info">1.7&nbsp;万</span>
										<span class="trend rise"></span>
				</a>
			</li>
																															<li static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=5&amp;to=search" class="list ">
				<a d-type="cartoon" title="妖精的尾巴" target="_blank" href="http://video.baidu.com/comic_intro/?id=1280&amp;page=1&amp;frp=browse">
					<span class="list-no ">5</span>
					<span class="list-title">妖精的尾巴</span>
											<span class="list-info">1.3&nbsp;万</span>
										<span class="trend rise"></span>
				</a>
			</li>
																															<li static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=6&amp;to=search" class="list ">
				<a d-type="cartoon" title="十万个冷笑话" target="_blank" href="http://video.baidu.com/comic_intro/?id=5409&amp;page=1&amp;frp=browse">
					<span class="list-no ">6</span>
					<span class="list-title">十万个冷笑话</span>
											<span class="list-info">1.2&nbsp;万</span>
										<span class="trend down"></span>
				</a>
			</li>
																															<li static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=7&amp;to=search" class="list ">
				<a d-type="cartoon" title="奥特曼" target="_blank" href="http://video.baidu.com/comic_intro/?id=2123&amp;page=1&amp;frp=browse">
					<span class="list-no ">7</span>
					<span class="list-title">奥特曼</span>
											<span class="list-info">1.2&nbsp;万</span>
										<span class="trend rise"></span>
				</a>
			</li>
																															<li static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=8&amp;to=search" class="list ">
				<a d-type="cartoon" title="熊出没" target="_blank" href="http://video.baidu.com/comic_intro/?id=1032&amp;page=1&amp;frp=browse">
					<span class="list-no ">8</span>
					<span class="list-title">熊出没</span>
											<span class="list-info">1.1&nbsp;万</span>
										<span class="trend down"></span>
				</a>
			</li>
																															<li static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=9&amp;to=search" class="list ">
				<a d-type="cartoon" title="猫和老鼠" target="_blank" href="http://video.baidu.com/comic_intro/?id=5113&amp;page=1&amp;frp=browse">
					<span class="list-no ">9</span>
					<span class="list-title">猫和老鼠</span>
											<span class="list-info">1.0&nbsp;万</span>
										<span class="trend down"></span>
				</a>
			</li>
																															<li static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=10&amp;to=search" class="list list-last">
				<a d-type="cartoon" title="头文字d" target="_blank" href="http://video.baidu.com/comic_intro/?id=4580&amp;page=1&amp;frp=browse">
					<span class="list-no ">10</span>
					<span class="list-title">头文字d</span>
											<span class="list-info">0.8&nbsp;万</span>
										<span class="trend down"></span>
				</a>
			</li>
															</ol>


			</div>
                    </div>
                </div>
                <div class="manhua" style="margin-top:10px;">
                	<div class="manhua_tit"><h3>漫画热搜榜</h3></div>
                    <div class="manhua_txt">
                      <ul id="TANGRAM$4__title" class="tang-title" static="1600&amp;tn=indsa&amp;bl=index_top_search&amp;stp=tab">
                        <li class="tang-title-item tang-title-item-selected"><a href="javascript:;" hidefocus="true">全部</a><div class="jiantou"></div></li>
						<li class="tang-title-item first"><a href="javascript:;" hidefocus="true">今日</a><div class="jiantou"></div>
</li>
						<li class="tang-title-item first"><a href="javascript:;" hidefocus="true">本周</a><div class="jiantou"></div>
</li>
						<li class="tang-title-item first"><a href="javascript:;" hidefocus="true">本月</a><div class="jiantou"></div>
</li>					
					</ul>
                    <div class="tang-body-item tang-body-item-selected">
				
<ol class="top-list-all" id="index_top_all_total_list4" monkey="index_top_all_total_list4">
																										<li class="poster" static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;no=1&amp;to=search">
				<dl>
					<dt>
						<a href="http://video.baidu.com/comic_intro/?id=1410&amp;page=1&amp;frp=browse" target="_blank" static="stp=po">
							<img src="http://list.video.baidu.com/imgs/11/0826bang.jpg">
							<span class="poster-no"></span>
						</a>
					</dt>
					<dd class="poster-title">
						<a href="http://video.baidu.com/comic_intro/?id=1410&amp;page=1&amp;frp=browse" target="_blank" title="火影忍者" static="stp=ti">火影忍者</a>
						<span class="trend down"></span>
					</dd>
					<dd class="poster-brief">一个忍者的世界</dd>
											<dd class="poster-info">7.7&nbsp;万</dd>
									</dl>
			</li>
																															<li class="list  list-2" static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=2&amp;to=search">
				<a href="http://video.baidu.com/comic_intro/?id=4601&amp;page=1&amp;frp=browse" target="_blank" title="海贼王" d-type="cartoon">
					<span class="list-no topthree">2</span>
					<span class="list-title">海贼王</span>
											<span class="list-info">4.6&nbsp;万</span>
										<span class="trend rise"></span>
				</a>
			</li>
																															<li class="list " static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=3&amp;to=search">
				<a href="http://video.baidu.com/comic_intro/?id=6751&amp;page=1&amp;frp=browse" target="_blank" title="啦啦啦德玛西亚" d-type="cartoon">
					<span class="list-no topthree">3</span>
					<span class="list-title">啦啦啦德玛西亚</span>
											<span class="list-info">2.6&nbsp;万</span>
										<span class="trend rise"></span>
				</a>
			</li>
																															<li class="list " static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=4&amp;to=search">
				<a href="http://video.baidu.com/comic_intro/?id=847&amp;page=1&amp;frp=browse" target="_blank" title="名侦探柯南" d-type="cartoon">
					<span class="list-no ">4</span>
					<span class="list-title">名侦探柯南</span>
											<span class="list-info">1.7&nbsp;万</span>
										<span class="trend rise"></span>
				</a>
			</li>
																															<li class="list " static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=5&amp;to=search">
				<a href="http://video.baidu.com/comic_intro/?id=1280&amp;page=1&amp;frp=browse" target="_blank" title="妖精的尾巴" d-type="cartoon">
					<span class="list-no ">5</span>
					<span class="list-title">妖精的尾巴</span>
											<span class="list-info">1.3&nbsp;万</span>
										<span class="trend rise"></span>
				</a>
			</li>
																															<li class="list " static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=6&amp;to=search">
				<a href="http://video.baidu.com/comic_intro/?id=5409&amp;page=1&amp;frp=browse" target="_blank" title="十万个冷笑话" d-type="cartoon">
					<span class="list-no ">6</span>
					<span class="list-title">十万个冷笑话</span>
											<span class="list-info">1.2&nbsp;万</span>
										<span class="trend down"></span>
				</a>
			</li>
																															<li class="list " static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=7&amp;to=search">
				<a href="http://video.baidu.com/comic_intro/?id=2123&amp;page=1&amp;frp=browse" target="_blank" title="奥特曼" d-type="cartoon">
					<span class="list-no ">7</span>
					<span class="list-title">奥特曼</span>
											<span class="list-info">1.2&nbsp;万</span>
										<span class="trend rise"></span>
				</a>
			</li>
																															<li class="list " static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=8&amp;to=search">
				<a href="http://video.baidu.com/comic_intro/?id=1032&amp;page=1&amp;frp=browse" target="_blank" title="熊出没" d-type="cartoon">
					<span class="list-no ">8</span>
					<span class="list-title">熊出没</span>
											<span class="list-info">1.1&nbsp;万</span>
										<span class="trend down"></span>
				</a>
			</li>
																															<li class="list " static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=9&amp;to=search">
				<a href="http://video.baidu.com/comic_intro/?id=5113&amp;page=1&amp;frp=browse" target="_blank" title="猫和老鼠" d-type="cartoon">
					<span class="list-no ">9</span>
					<span class="list-title">猫和老鼠</span>
											<span class="list-info">1.0&nbsp;万</span>
										<span class="trend down"></span>
				</a>
			</li>
																															<li class="list list-last" static="s=1600&amp;tn=indsa&amp;bl=index_top_all_total_list4&amp;stp=ti&amp;no=10&amp;to=search">
				<a href="http://video.baidu.com/comic_intro/?id=4580&amp;page=1&amp;frp=browse" target="_blank" title="头文字d" d-type="cartoon">
					<span class="list-no ">10</span>
					<span class="list-title">头文字d</span>
											<span class="list-info">0.8&nbsp;万</span>
										<span class="trend down"></span>
				</a>
			</li>
															</ol>


					 		</div>            			
                    </div>
                </div>
                <div class="clear1"></div>
                <div class="jiebao">
                	<div class="jiebao_tit">  
                        <span><a href="#">更多&gt;&gt;</a></span>
                    	<ul>                
                        	<li class="on" onmouseover="changeTab(5,0)"><strong>完结漫画</strong></li>                <li class="" onmouseover="changeTab(5,1)"><strong>连载漫画</strong></li>      
                        </ul>
                    </div>
                    <div class="jiebao_txt">
                    	<ul>
                        	<li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                            <li><a href="#" target="_blank">火影忍者522集「恐怖·蒸危暴威!!」</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear1"></div>
            <div class="dongman">
                	<div class="dongman_tit">
                    	<span><a href="#">更多&gt;&gt;</a></span>  
                    	<ul>                
                        	<li class="on" onmouseover="changeTab(5,0)"><strong>国产动漫</strong></li>                <li class="" onmouseover="changeTab(5,1)"><strong>港台动漫</strong></li>                <li class="" onmouseover="changeTab(5,1)"><strong>日韩动漫</strong></li>                <li class="" onmouseover="changeTab(5,1)"><strong>欧美动漫</strong></li>  
                                
                        </ul>
                    </div>
                    <div class="dongman_txt">
                    	<ul class="dongman_txt1">
                        	<li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                            <li>
                            	<a target="_blank" href="#"><img src="{IMG_PATH}img/u33_normal.png"></a>
                                <a target="_blank" href="#">海贼王</a>
                            </li>
                        </ul>
                        <ul class="dongman_txt2">
                        	<li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">美食的俘虏96</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能那么可爱第二季PV2</a></li>
                            <li><span><a target="_blank" href="#">03.17</a></span><a target="_blank" href="#">我的妹妹不可能那么可爱第二季PV2</a></li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="lianjie">
        	<div class="lianjie_tit"><h3>友情链接</h3></div>
            <div class="lianjie_txt">
				{pc:link action="lists" typeid="0" linktype="0" order="desc" num="10" return="dat"}
					{loop $dat $key $v}
					 <a href="{$v[url]}" title="{$v[name]}"  target="_blank">{$v[name]} </a> 
					 {if $v != end($dat)}&nbsp;|&nbsp;{/if}
					{/loop}
				{/pc}
            </div>
        </div>
    </div>
{template "content","footer"}