<div class="crumbs">
    <em>您的位置：</em>
    <a href="{:getDoMain()}" class="crumbs_c">首页</a>
    <span>></span>
    <i>找回密码</i>
</div>
<div class="wrap_border">
    <div class="wrap_a_c fl">
        <div class="title_b_icon2"><i class="iconfont">&#xe618;</i></div>
        <span>找回密码</span>
    </div>
    <div class="list_d">
        <if condition="$nopass eq 1 ">{$msgHtml}  点击 &nbsp;&nbsp;<a href="/public/forget">忘记密码</a>  &nbsp;重新发送邮件！
            <else /> 
            <form action="/public/active_password" method="post" name="form_reg">
                <ul>
                    <li>
                        <input type="hidden" class="text" size="30" name="username" value="{$email}"/>
                        <input type="hidden" class="text" size="30" name="code" value="{$code}"/>
                    </li>
                    <li>
                        <p>新密码</p>
                        <input type="password" class="list_ctxt_a" size="30" name="password" placeholder="请输入密码" datatype="passwd" errormsg="密码至少6位" sucmsg=" " nullmsg="请输入密码"/>
                    </li>
                    <li>
                        <p>确认新密码</p>
                        <input type="password" class="list_ctxt_a" size="30" name="password_confirm" placeholder="请再输入一次密码" datatype="passwd" recheck="password" errormsg="两次输入的密码不一致" nullmsg="请再输入一次密码" sucmsg=" "/>
                    </li>
                    <li>
                        <input type="submit" value="确认修改" class="btn_orange"/>
                    </li>
                </ul>
            </form>
        </if>
    </div>
    <div class="login_r">
        <div class="login_r_t">
            <h3>需要帮助？</h3>
        </div>
        <div class="login_r_m">
            <dl>
                <dt>我们的客服部门一直致力于为我们的会员提供优质的服务。</dt>
                <dt>如果您有什么问题或疑问，可以拨打下面的客服电话进行咨询。<a href="javascript:void(0);">18910255314</a></dt>
                <dt>如果您更喜欢EMAIL形式沟通，可以发送邮件到我们的客服邮箱：<a href="mailto:service@micang.com">service@micang.com</a></dt>
            </dl>
        </div>
        <div class="login_r_b"><a class="listent_d" title="直接登录" href="{:getDoMain()}public/login/">已有帐号，直接登录。</a>登录到米仓。</div>
    </div>
</div>  
<style type="text/css">
    .Validform_checktip.Validform_wrong{color:red; margin-left:100px;padding:0px;}
</style>
<script type="text/javascript" src="/Public/Common/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="/Public/Common/js/Validform_Datatype.js"></script>
<script type="text/javascript" src="/Public/Common/js/layer/layer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('form[name="form_reg"]').Validform({
            tiptype:3,
            datatype:{
                "passwd":/^[^\s]{6,}$/
            },
            beforeSubmit: function(curform){
                curform.find(':submit').prop('disabled', true);
                $.post(curform.attr('action'), curform.serialize(), function(result){
                    if (result.status != 200){
                        layer.msg(result.message);
                    }else{
                        layer.alert(result.message, function(){window.location='/public/login'});
                    }
                    curform.find(':submit').prop('disabled', false);
                });
                return false;
            }
        });
       
    });
</script>
