  <div class="posi">您当前的位置：<a href="/">首页</a> &raquo;用户注册协议</div>
  <div class="main reg">
    <h1 style="font-size:24px; font-weight: bold; text-align: center;">米仓网服务协议</h1>
    <p>一、总则</p>
    <p>1.1 用户应当同意本协议的条款并按照页面上的提示完成全部的注册程序。用户在完成注册程序后，即表示用户与米仓网（下称“米仓网”）达成协议，完全接受本协议项下的所有条款。用户同意此在线注册条款之效力如同用户亲自签字、盖章的书面条款一样，对用户具有法律约束力。</p>
    <p>1.2 当用户使用米仓网各种服务时，用户的使用行为视为其对该单项服务的服务条款以及米仓网在该单项服务中发出的各类形式公告的同意。</p>
    <p>1.3 米仓网服务条款及公告可由米仓网随时更新，并通过米仓网官方网站发布。公告发布后即被视作已经送达所有用户，米仓网无需另行通知。您在使用相关服务时，应关注并遵守其所适用的相关条款。</p>
    <p>1.4 用户一旦使用米仓网的会员服务，即视为您已了解并完全同意本服务协议各项内容，包括对服务条款所做的任何修改。</p>
    <p>二、会员资格和隐私保护</p>
    <p>2.1 用户注册成功后，米仓网将给予每个用户一个会员ID账号以及相应的密码，该会员ID账号和密码由用户负责保管；用户凭会员ID号及密码享受米仓网提供的各项服务。用户应当对以其用户账号进行的所有活动和事件负法律责任。</p>
    <p>2.2 用户应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽准确的要求并且没有任何引人误解或者虚假的陈述。同时保证米仓网可以通过用户所填写的联系方式与用户取得联系。所有原始键入的资料将引用为注册资料，如果因注册信息不真实而引起的问题，并由此产生的一切后果及责任，均由用户承担，米仓网不负任何责任。</p>
    <p>2.3 用户不应将其账号、密码转让或出借予他人使用，否则用户应承担由此造成的一切后果。如用户发现其账号遭他人非法使用，应立即通知米仓网。因黑客行为或用户的保管疏忽导致账号、密码遭他人非法使用，米仓网不承担任何责任。</p>
    <p>2.4 用户应根据米仓网对于相关服务的要求及时提供相应的身份证明等资料，否则米仓网有权拒绝向该用户提供相关服务。</p>
    <p>2.5 如果用户提供的资料或信息包含有不正确、不真实的信息，米仓网保留取消用户会员资格并随时结束为该用户提供服务的权利。</p>
    <p>2.6 米仓网不对外公开或向第三方提供单个用户的注册资料，除非：</p>
    <p>（1）事先获得用户的明确授权；</p>
    <p>（2）只有透露你的个人资料，才能提供你所要求的产品和服务；</p>
    <p>（3）根据有关的法律法规要求；</p>
    <p>（4）按照相关政府主管部门的要求；</p>
    <p>（5）解决举报事件、提起诉讼而提交的；</p>
    <p>（6）为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提交的；</p>
    <p>三、服务使用、变更、中断或终止</p>
    <p>3.1米仓网为用户提供的各项服务，用户应正当、合理、善意地使用。在任何情况下，用户均不得进行以下任何一种行为：</p>
    <p>（1）运用包括但不限于程序技术手段，进行大规模、高流量、自动化的查询或连续、反复提交无效请求。</p>
    <p>（2）其他滥用系统资源，影响系统运行速度之行为。</p>
    <p>（3）用户ID的非法使用。</p>
    <p>米仓网有权在发现用户的上述行为后根据自主判断采取如下之一的措施消除影响，并不负事先通知的义务：</p>
    <p>（1）中断该用户与米仓网系统的各项服务或单项服务的连接，并限制其访问；</p>
    <p>（2）冻结该用户的ID号；</p>
    <p>（3）屏蔽该用户使用的IP；</p>
    <p>（4）其他能够消除影响的措施。</p>
    <p>3.2 如因系统维护或升级的需要而需暂停网络服务，米仓网将尽可能事先进行通知。</p>
    <p>3.3 如发生下列任何一种情形，米仓网有权随时中断或终止向用户提供本协议下的服务而无需通知用户：</p>
    <p>（1）用户提供的资料不真实；</p>
    <p>（2）用户账户遭受非法使用；</p>
    <p>（2）用户违反本协议中规定的使用规则；</p>
    <p>3.4 除前款所述情形外，米仓网同时保留在不事先通知用户的情况下随时中断或终止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，米仓网无需对用户或任何第三方承担任何责任。</p>
    <p>四、费用与支付</p>
    <p>4.1 用户的服务费用以预付款的形式存入米仓网系统，属用户自愿存入，款项不能退回。</p>
    <p>4.2 用户未按规定缴纳相应费用的，米仓网有权终止为用户提供服务并终止用户帐号的权利，并且在任何情况下，对任何间接、偶然、特殊及继起的损害不负责任。</p>
    <p>4.3 用户在欠费情况下，不能办理除交费以外的其他业务。</p>
    <p>4.4 米仓网各项服务的价格将在网站上进行公布，如果用户发生付费或使用米仓网服务任何一项行为即表示用户已经明确同意接受米仓网的资费标准。米仓网有权根据有关政策的变化、市场情况，服务范围变化等原因单方面调整价格标准。</p>
    <p>五、不可抗力</p>
    <p>5.1 用户同意鉴于互联网的特殊性，黑客攻击、互联网连通中断或者系统故障等属于不可抗力，由此给用户或者第三方造成的损失不应由米仓网承担。</p>
    <p>5.2 因不可抗力或者其他意外事件，使得本条款履行不可能、不必要或者无意义的，遭受不可抗力、意外事件的一方不承担责任。</p>
    <p>六、争议解决及法律适用</p>
    <p>6.1 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向米仓网所在地的人民法院提起诉讼。</p>
    <p>6.2 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律法规和计算机、互联网行业的规范。</p>
    <p>七、其他</p>
    <p>7.1 米仓网未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃。</p>
    <p>7.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>
    <p>用户在此再次保证已经完全阅读并理解了上述会员注册条款并自愿正式进入米仓网会员在线注册程序，接受上述所有条款的约束。</p>
  </div>
  <div class="clear"></div>