<div class="dzdlsz">
    <ul>
        <li>
            <div class="dzdlsz_btn dzdlsz_xd <eq name='m_tab' value='about'>dzdlsz_btn_h</eq>"><p class="triangle"></p><span>关于我们</span></div>
            <div class="dzdlsz_gx"></div>
            <div class="dzdlsz_c" <eq name='m_tab' value='about'>style="display:block;"</eq>>
                <dl>
                    <dt><a href="{:getDoMain()}about/">米仓网简介</a></dt>
                    <dt><a href="{:getDoMain()}about/fee/">收费标准</a></dt>
                    <dt><a href="{:getDoMain()}about/state/">网站声明</a></dt>
                    <dt><a href="{:getDoMain()}about/contact/">联系我们</a></dt>
                </dl>
            </div>
        </li>
        <li>
            <div class="dzdlsz_btn dzdlsz_xd <eq name='m_tab' value='help'>dzdlsz_btn_h</eq>"><p class="triangle"></p><span>帮助中心</span></div>
            <div class="dzdlsz_gx"></div>
            <div class="dzdlsz_c" <eq name='m_tab' value='help'>style="display:block;"</eq>>
                <dl>
                    <dt><a href="{:getDoMain()}help/">新手上路</a></dt>
                    <dt><a href="{:getDoMain()}help/oper/">操作引导</a></dt>
                    <dt><a href="{:getDoMain()}help/protocol/">网站协议</a></dt>
                </dl>
            </div>
        </li>
        <li>
            <div class="dzdlsz_btn dzdlsz_xd <eq name='m_tab' value='zffs'>dzdlsz_btn_h</eq>"><p class="triangle"></p><span>支付方式</span></div>
            <div class="dzdlsz_gx"></div>
            <div class="dzdlsz_c" <eq name='m_tab' value='zffs'>style="display:block;"</eq>>
                <dl>
                    <dt><a href="{:getDoMain()}help/zf/">在线支付</a></dt>
                    <dt><a href="{:getDoMain()}help/yhhk/">银行汇款</a></dt>
                </dl>
            </div>
        </li>
        <li>
            <div class="dzdlsz_btn dzdlsz_xd <eq name='m_tab' value='fwzc'>dzdlsz_btn_h</eq>"><p class="triangle"></p><span>服务支持</span></div>
            <div class="dzdlsz_gx"></div>
            <div class="dzdlsz_c" <eq name='m_tab' value='fwzc'>style="display:block;"</eq>>
                <dl>
                    <dt><a href="{:getDoMain()}help/ask/">在线提问</a></dt>
                    <dt><a href="{:getDoMain()}help/relation/">合作联系</a></dt>
                    <dt><a href="{:getDoMain()}help/download/">文档下载</a></dt>
                </dl>
            </div>
        </li>
    </ul>
</div>